Repository heremaps/harp.gl, pull requests merged in 2019-08, with the labels that each got.

#659 HARP-5431 Zoomlevel now based on distance from... low resolution terrain (level 4 tiles).
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-mapview/lib/ElevationProvider.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-5431

#693 HARP-6650: Update THREE.js to 0.107
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  yarn.lock
Labels: topic:threeup

#680 HARP-6669: BackgroundDataSource can pick wrong tiling scheme
  @here/harp-mapview/lib/BackgroundDataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/test/BackgroundDataSourceTest.ts
  @here/harp-mapview/test/MapViewTest.ts
Labels: HARP-6669

#691 HARP-732: Automatic tests for berlin themes against json schema.
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-map-theme/package.json
  @here/harp-map-theme/resources/berlin_derived.json
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_base_globe.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-map-theme/test/DefaultThemeTest.ts
  webpack.tests.config.js
  yarn.lock
Labels: topic:HARP-732

#700 Upgrade typedoc to 0.15.0.
  package.json
  yarn.lock
Labels: topic:typedoc-upgrade

#701 HARP-6736: Enable WebGLPowerPreference im MapView
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-6736

#702 HARP-6038: Always treat three.module.js dependencies as external
  @here/generator-harp.gl/generators/app/templates/webpack.config.js
  @here/harp-examples/webpack.config.js
  @here/harp.gl/webpack.config.js
  webpack.tests.config.js
Labels: topic:webpack-threejs-module-fix

#708 HARP-6763: SubTiles generate bad tile keys on custom subdivision schemes
  @here/harp-geoutils/lib/tiling/SubTiles.ts
  @here/harp-geoutils/lib/tiling/TileTreeTraverse.ts
  @here/harp-geoutils/lib/tiling/TilingScheme.ts
  @here/harp-geoutils/package.json
  @here/harp-geoutils/test/SubTilesTest.ts
  @here/harp-geoutils/test/TileTreeTraverseTest.ts
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: HARP-6763

#719 HARP-6776: Allow worker count to be set independently per decoder bundle
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/ConcurrentDecoderFacade.ts
  @here/harp-mapview/lib/ConcurrentTilerFacade.ts
Labels: topic:parameterized-decoder-counts

#726 HARP-5728: Move displacement map texture creation to TileGeometryCreator.
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-mapview/lib/DisplacementMap.ts
  @here/harp-mapview/lib/ElevationProvider.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/overlayOnElevation.ts
Labels: topic:HARP-5728_rework

#735 HARP-6729: Disable MSAA for high pixelRatio devices.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-6729

#609 HARP-6195: Subdivision-friendly extrusion/outlining.
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-geometry/lib/SubdivisionModifier.ts
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-omv-datasource/lib/IGeometryProcessor.ts
  @here/harp-omv-datasource/lib/OmvData.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/OmvUtils.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
  @here/harp-omv-datasource/test/OmvDecoderTest.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:HARP-6195

#677 HARP-6654: Move creation of credential.js to build-bundle step
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  package.json
  scripts/credentials.ts
  scripts/doc-snippets.ts
Labels: topic:HARP-6654-hello-js

#740 Minor: Polygon outline bugfix.
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:minorOutlineFix

#738 HARP-6877: Update DepthPrePass stencil to match three 107.
  @here/harp-mapview/lib/DepthPrePass.ts
Labels: topic:minorStencilFix

#710 HARP-6551: Examples fixing and refinements.
  @here/harp-examples/example-browser.ts
  @here/harp-examples/index.html
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_geojson_chloropleth.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-examples/src/synchronized-views.ts
  @here/harp-examples/src/textcanvas.ts
  @here/harp-examples/template/example.html
  docs/index.html
  docs/js/index.js
Labels: topic:HARP-6551

#744 HARP-6082: Display landmarks along side extruded buildings
  @here/harp-omv-datasource/lib/OmvDataFilter.ts
  @here/harp-omv-datasource/lib/OmvDecoderDefs.ts
  @here/harp-omv-datasource/test/OmvTest.ts
Labels: topic:HARP-6082

#750 HARP-6879: Tile Fallback has introduced weird patterns
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:HARP-6879

#753 Minor: Enable GroundPlane depth write.
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:minorDepthWriteFix

#757 HARP-6802: ES2017 TS target.
  @here/generator-harp.gl/generators/app/templates/tsconfig.json
  @here/harp-atlas-tools/tsconfig.json
  @here/harp-datasource-protocol/tsconfig.json
  @here/harp-debug-datasource/tsconfig.json
  @here/harp-examples/tsconfig.json
  @here/harp-features-datasource/tsconfig.json
  @here/harp-fetch/tsconfig.json
  @here/harp-geojson-datasource/tsconfig.json
  @here/harp-geometry/tsconfig.json
  @here/harp-geoutils/tsconfig.json
  @here/harp-lines/tsconfig.json
  @here/harp-lrucache/tsconfig.json
  @here/harp-map-controls/tsconfig.json
  @here/harp-map-theme/tsconfig.json
  @here/harp-mapview-decoder/tsconfig.json
  @here/harp-mapview/tsconfig.json
  @here/harp-materials/tsconfig.json
  @here/harp-omv-datasource/tsconfig.json
  @here/harp-test-utils/tsconfig.json
  @here/harp-text-canvas/tsconfig.json
  @here/harp-transfer-manager/tsconfig.json
  @here/harp-utils/tsconfig.json
  @here/harp-webtile-datasource/tsconfig.json
  @here/harp.gl/tsconfig.json
  tsconfig.json
Labels: topic:HARP-6802

#758 HARP-6996: Upgraded to three@0.108.0.
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/composing/Outline.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  yarn.lock
Labels: topic:HARP-6996
