Repository heremaps/harp.gl, pull requests merged in 2019-07, with the labels that each got.

#567 HARP-6162: Add phased loading and geometry filtering by kind
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryManager.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-omv-datasource/lib/OmvDataFilter.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvDecoderDefs.ts
  @here/harp-omv-datasource/test/OmvTest.ts
Labels: topic:HARP-6162

#582 HARP-5574: StringEncodedNumeral support.
  @here/harp-datasource-protocol/index.ts
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/InterpolatedPropertyDefs.ts
  @here/harp-datasource-protocol/lib/StringEncodedNumeral.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/test/InterpolationTest.ts
  @here/harp-examples/src/techniques_interpolation.ts
  @here/harp-mapview/lib/ColorCache.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/RoadPicker.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-5574

#606 HARP-6426: Non-text features missing after cache clear on lower level tiles
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-6426

#483 HARP-5596 Use new fontcatalog
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/harp-examples/webpack.config.js
  @here/harp-map-theme/package.json
  @here/harp-map-theme/scripts/prepack.ts
  @here/harp-text-canvas/test/FontCatalogTest.ts
  @here/harp-text-canvas/test/TextCanvasTest.ts
  README.md
  webpack.tests.config.js
  yarn.lock
Labels: topic:harp-5596

#611 HARP-6181: Zombie Level [0...3] Tiles
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
Labels: HARP-6181

#614 HARP-6436: POI and transport icons are missing for all data souces
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
Labels: HARP-6436

#593 HARP-3891: Display generic (open-sourced by Here) road-shields.
  @here/harp-datasource-protocol/lib/Expr.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/road_shields_generic.json
  @here/harp-map-theme/resources/road_shields_generic.png
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:harp-3891

#631 HARP-6410 Rename getTilingSceme to getTilingScheme
  @here/harp-examples/src/elevationprovider.ts
  @here/harp-mapview/lib/ElevationProvider.ts
Labels: topic:harp-6410

#608 HARP-6418: Fix label filtering
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
Labels: topic:HARP-6418

#619 Improve examples CSS.
  @here/harp-examples/example-browser.css
  @here/harp-examples/example-browser.ts
  @here/harp-examples/index.html
  @here/harp-examples/src/datasource_features_lines+points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/getting-started_hello-world.ts
  @here/harp-examples/src/getting-started_js-bundle.html
  @here/harp-examples/src/getting-started_textured_areas.ts
  @here/harp-examples/src/threejs_add-animated-object.ts
  @here/harp-examples/src/threejs_add-simple-object.ts
Labels: topic:examples-css

#616 HARP-6274: Support touch controls in globe.
  @here/harp-examples/src/datasource_satellitetile_globe.ts
  @here/harp-examples/src/datasource_webtile_globe.ts
  @here/harp-examples/src/globe.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/Utils.ts
Labels: topic:HARP-6274

#639 HARP-6550: Fix examples names.
  @here/harp-examples/README.md
  @here/harp-examples/example-browser.ts
  @here/harp-examples/src/datasource_satellite-tile.ts
  @here/harp-examples/src/datasource_satellite-tile_globe.ts
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured_areas.ts
  @here/harp-examples/src/textcanvas.ts
  @here/harp-examples/src/threejs_add-object.ts
  @here/harp-examples/src/threejs_animation.ts
  @here/harp-examples/src/triple-view.ts
Labels: topic:HARP-6550

#642 HARP-5197: Fix inertia durations of 0.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-5197

#643 HARP-6559: Fix touch outside globe.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-6559

#650 HARP-6574: Fix touch zoom not updating known zoomLevel value.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-6574

#641 HARP-6006: Zoom on double click / tap.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-6006

#655 HARP-6293: Plug zoom level handling to globe projection.
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/CameraMovementDetector.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
Labels: topic:HARP-6293

#664 HARP-6638: Continuous redraws in MapView
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryManager.ts
Labels: HARP-6638
