Repository heremaps/harp.gl, pull requests merged in 2019-04, with the labels that each got.

#335 Reset TravisCI Deployment only for Releases.
  .travis.yml
Labels: topic:andresVTGitPageFix

#346 HARP-5157: Poi master list URLs relative to theme file.
  @here/harp-mapview/lib/ThemeLoader.ts
Labels: topic:HARP-5157-poitables-urls

#344 HARP-5283: Allow skipping labels that are too small to be displayed a…
  @here/harp-mapview-decoder/lib/ThemedTileDecoder.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/ScreenProjector.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvDecoderDefs.ts
Labels: topic:HARP-5283

#350 HARP-1355: Reusable SolidLine geometries.
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-examples/resources/dayTwoFonts.json
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-mapview/lib/Tile.ts
Labels: topic:HARP-1355

#356 HARP-5192: Zoom fix for high pitch values.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-5192

#349 HARP-5305: Update typescript to 3.4.1
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  package.json
  yarn.lock
Labels: topic:HARP-5305

#352 HARP-5295: Support map, normalMap and displacementMap in StandardTexturedTechnique
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview-decoder/lib/TileDecoderService.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/Tile.ts
Labels: topic:HARP-5295

#354 HARP-5128: Fix zoom for small steps.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-5128

#363 HARP-5324: Properly dispose textures that are created/owned by Tile
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:HARP-5324

#359 HARP-5043: Add missing techniques on omv-datasource
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/test/OmvDecoderTest.ts
Labels: topic:HARP-5043

#361 HARP-5191: High pitch-angle freezing bugfix.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-5191

#364 HARP-5346: Support providing direct GeoJson in TilerService.
  @here/harp-datasource-protocol/index.ts
  @here/harp-datasource-protocol/lib/GeoJsonDataType.ts
  @here/harp-datasource-protocol/lib/ITiler.ts
  @here/harp-datasource-protocol/lib/WorkerTilerProtocol.ts
  @here/harp-geojson-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-geojson-datasource/lib/GeoJsonDecoder.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-geoutils/lib/coordinates/GeoBox.ts
  @here/harp-mapview-decoder/lib/TilerService.ts
  @here/harp-mapview/lib/WorkerBasedTiler.ts
Labels: topic:HARP-5346

#377 MINOR: Visual regression fix after #359 for berlin based themes.
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
Labels: topic:berlin_theme_fix

#374 Cache eviction happens when last requested
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:HARP-4924_visible_tiles_refactor

#380 HARP-5440: Target es6
  @here/generator-harp.gl/generators/app/templates/tsconfig.json
  @here/harp-datasource-protocol/tsconfig.json
  @here/harp-debug-datasource/tsconfig.json
  @here/harp-examples/tsconfig.json
  @here/harp-fetch/tsconfig.json
  @here/harp-geojson-datasource/tsconfig.json
  @here/harp-geoutils/tsconfig.json
  @here/harp-lines/tsconfig.json
  @here/harp-lrucache/tsconfig.json
  @here/harp-map-controls/tsconfig.json
  @here/harp-map-theme/tsconfig.json
  @here/harp-mapview-decoder/tsconfig.json
  @here/harp-mapview/tsconfig.json
  @here/harp-materials/tsconfig.json
  @here/harp-omv-datasource/tsconfig.json
  @here/harp-test-utils/tsconfig.json
  @here/harp-text-canvas/tsconfig.json
  @here/harp-transfer-manager/tsconfig.json
  @here/harp-utils/tsconfig.json
  @here/harp-webtile-datasource/tsconfig.json
  tsconfig.json
Labels: topic:HARP-5440

#378 HARP-5371: DataSource exposes getter/setter for storage level offset.
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:harp-5371-rebase

#366 HARP-5323: Added ElevationRangeSource and use it in VisibleTileSet to compute proper bounding boxes
  @here/harp-geoutils/lib/projection/MercatorProjection.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/ElevationRangeSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:HARP-5323

#384 HARP-5188: 3D Lines buffer generation.
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-lines/lib/HighPrecisionLines.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-lines/lib/TriangulateLines.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-materials/lib/DashedLineMaterial.ts
  @here/harp-materials/lib/HighPrecisionLineMaterial.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-5188

#298 HARP-4545: Implement animated extrusion of the buildings
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-materials/lib/EdgeMaterial.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-materials/lib/Utils.ts
  @here/harp-utils/index.ts
  @here/harp-utils/lib/Functions.ts
  @here/harp-utils/lib/MathUtils.ts
Labels: topic:HARP-4545

#387 HARP-5484: Buildings should be shown at all available storage levels.
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
Labels: topic:harp-5484

#396 MINOR: Fix theme indentations.
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
Labels: topic:fix-indentation

#399 MINOR: Also apply prettier to JSON files
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/generator-harp.gl/generators/app/templates/tsconfig.json
  @here/generator-harp.gl/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-datasource-protocol/tsconfig.json
  @here/harp-debug-datasource/package.json
  @here/harp-debug-datasource/tsconfig.json
  @here/harp-examples/package.json
  @here/harp-examples/resources/basicFeatures.json
  @here/harp-examples/resources/dayTwoFonts.json
  @here/harp-examples/resources/points.json
  @here/harp-examples/resources/route.json
  @here/harp-examples/resources/route1.json
  @here/harp-examples/tsconfig.json
  @here/harp-fetch/package.json
  @here/harp-fetch/tsconfig.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geojson-datasource/tsconfig.json
  @here/harp-geometry/package.json
  @here/harp-geometry/tsconfig.json
  @here/harp-geoutils/package.json
  @here/harp-geoutils/tsconfig.json
  @here/harp-lines/package.json
  @here/harp-lines/tsconfig.json
  @here/harp-lrucache/package.json
  @here/harp-lrucache/tsconfig.json
  @here/harp-map-controls/package.json
  @here/harp-map-controls/tsconfig.json
  @here/harp-map-theme/package.json
  @here/harp-map-theme/resources/maki_icons.json
  @here/harp-map-theme/tsconfig.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview-decoder/tsconfig.json
  @here/harp-mapview/package.json
  @here/harp-mapview/tsconfig.json
  @here/harp-materials/package.json
  @here/harp-materials/tsconfig.json
  @here/harp-omv-datasource/package.json
  @here/harp-omv-datasource/tsconfig.json
  @here/harp-test-utils/package.json
  @here/harp-test-utils/tsconfig.json
  @here/harp-text-canvas/package.json
  @here/harp-text-canvas/tsconfig.json
  @here/harp-transfer-manager/package.json
  @here/harp-transfer-manager/tsconfig.json
  @here/harp-utils/package.json
  @here/harp-utils/tsconfig.json
  @here/harp-webtile-datasource/package.json
  @here/harp-webtile-datasource/tsconfig.json
  lerna.json
  package.json
  tsconfig.json
  tslint.json
  typedoc.json
Labels: topic:minor-prettier-json

#394 MINOR: Re-enable no-unused-variable tslint option
  @here/harp-datasource-protocol/lib/Extruder.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-mapview-decoder/lib/WorkerServiceManager.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/TextStyleCache.ts
  @here/harp-mapview/test/ConcurrentWorkerSetTest.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/test/OmvTest.ts
  test/ImportTest.ts
  tslint.json
Labels: topic:minor-enable-no-unused-variable

#395 MINOR: Make NY buildings visible in the hello example.
  @here/harp-examples/src/hello.ts
  README.md
  docs/nyc.jpg
  docs/nyc.png
Labels: topic:fix-buildings-hello

#406 MINOR: Fix NYC picture.
  docs/nyc.jpg
Labels: topic:fix-nyc

#308 HARP-4697: Refactored Theme and Technique.
  @here/harp-datasource-protocol/index-decoder.ts
  @here/harp-datasource-protocol/index.ts
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/Expr.ts
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/InterpolatedPropertyDefs.ts
  @here/harp-datasource-protocol/lib/Outliner.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-datasource-protocol/lib/ThemeVisitor.ts
  @here/harp-datasource-protocol/lib/TileInfo.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-datasource-protocol/test/InterpolationTest.ts
  @here/harp-datasource-protocol/test/StyleSetEvaluatorTest.ts
  @here/harp-datasource-protocol/test/TileInfoTest.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-geojson-datasource/lib/GeoJsonDecoder.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-mapview-decoder/lib/ThemedTileDecoder.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/ThemeHelpers.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/WorkerBasedDecoder.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextStyleCache.ts
  @here/harp-mapview/test/TileCreationTest.ts
  @here/harp-omv-datasource/lib/IGeometryProcessor.ts
  @here/harp-omv-datasource/lib/OmvData.ts
  @here/harp-omv-datasource/lib/OmvDataFilter.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/OmvTomTomFeatureModifier.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
  @here/harp-omv-datasource/test/OmvTest.ts
  @here/harp-omv-datasource/test/OmvTomTomFeatureModifierTest.ts
  webpack.tests.config.js
  yarn.lock
Labels: topic:HARP-4697

#391 HARP-5184: Preserve Projected Z-Component.
  @here/harp-datasource-protocol/lib/Extruder.ts
  @here/harp-datasource-protocol/lib/Outliner.ts
  @here/harp-datasource-protocol/test/OutlinesTest.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-lines/lib/HighPrecisionLines.ts
  @here/harp-lines/lib/HighPrecisionPoints.ts
  @here/harp-lines/lib/HighPrecisionUtils.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-lines/lib/TriangulateLines.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-materials/lib/DashedLineMaterial.ts
  @here/harp-materials/lib/HighPrecisionLineMaterial.ts
  @here/harp-materials/lib/HighPrecisionPointMaterial.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/test/OmvDecoderTest.ts
  @here/harp-utils/lib/Math2D.ts
Labels: topic:HARP-5184

#409 HARP-5402: Lines generation bugfix.
  @here/harp-lines/lib/Lines.ts
Labels: topic:HARP-5402

#410 HARP-4785: High PixelRatio panning bugfix.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-4785

#404 HARP-5590 Fix code snippets references in examples
  @here/harp-examples/src/camera_free.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/textcanvas_dynamic.ts
  package.json
  typedoc.json
  yarn.lock
Labels: topic:harp-5590

#411 HARP-5576: Allow setting of storageLevelOffset at runtime
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-5576

#412 HARP-5463: Terrain Shading bugfix.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
Labels: topic:HARP-5463
