Repository heremaps/harp.gl, pull requests merged in 2019-09, with the labels that each got.

#760 HARP-6123: ServiceType failed connection logs.
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/lib/WorkerBasedDecoder.ts
  @here/harp-mapview/lib/WorkerBasedTiler.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-6123

#763 HARP-6512 Remove linear tile search from TerrainElevationProvider
  @here/harp-geoutils/lib/tiling/TileKeyUtils.ts
  @here/harp-mapview/lib/ElevationProvider.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
Labels: topic:HARP-6512_elevationProv

#767 HARP-6899: Fix the creation of tiny labels for jaggy rivers
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
Labels: topic:HARP-6899

#695 HARP-6556: Support for Expression language in technique & feature attributes.
  @here/harp-datasource-protocol/lib/Expr.ts
  @here/harp-datasource-protocol/lib/ExprEvaluator.ts
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/InterpolatedPropertyDefs.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueAttr.ts
  @here/harp-datasource-protocol/lib/TechniqueDescriptor.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-datasource-protocol/lib/ThemeVisitor.ts
  @here/harp-datasource-protocol/lib/TileInfo.ts
  @here/harp-datasource-protocol/lib/operators/ColorOperators.ts
  @here/harp-datasource-protocol/lib/operators/MathOperators.ts
  @here/harp-datasource-protocol/lib/operators/MiscOperators.ts
  @here/harp-datasource-protocol/test/StyleSetEvaluatorTest.ts
  @here/harp-datasource-protocol/test/TileInfoTest.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-examples/src/theme_data-driven.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/text/TextStyleCache.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
Labels: topic:HARP-6556-decoder

#773 HARP-6886: Z-fighting improvements.
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/EdgeMaterial.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
Labels: topic:HARP-6886

#789 HARP-6336: Disappearing tiles on language switch fix.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-6336

#748 HARP-6249: Caps for lines endings
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-lines/lib/Lines.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-materials/package.json
Labels: topic:HARP-6249

#801 HARP-6058: Fix GeoJSON lat2tile computation.
  @here/harp-omv-datasource/lib/OmvData.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/OmvUtils.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
Labels: topic:HARP-6058

#805 HARP-6982: Correct normals on spherically projected extruded buildings.
  @here/harp-materials/lib/EdgeMaterial.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-6982

#777 HARP-6948: Added advanced custom datasource example
  @here/harp-datasource-protocol/index-decoder.ts
  @here/harp-datasource-protocol/lib/ThreeBufferUtils.ts
  @here/harp-examples/README.md
  @here/harp-examples/decoder/custom_decoder.ts
  @here/harp-examples/decoder/custom_decoder_defs.ts
  @here/harp-examples/decoder/decoder.ts
  @here/harp-examples/package.json
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-omv-datasource/lib/IGeometryProcessor.ts
Labels: topic:HARP-6948-custom-data-source

#795 HARP-6728: Cleanup configure/setStyleSet flow in TileDataSource
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-6728

#828 Minor: Fix extrusion visual bug.
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:minorEdgeExtrusionFix

#834 Minor: Increased MIN_BUILDING_HEIGHT.
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:minorIncreasedMinBuildingHeight

#808 HARP-7201: All examples from Labeling section are broken
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
Labels: topic:HARP-7201

#844 HARP-6716: MapView exposes phased loading settings.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:harp-6716

#709 HARP-6597: Camera rotations in globe.
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-examples/src/synchronized-views.ts
  @here/harp-examples/src/threejs_raycast.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/lib/Utils.ts
  @here/harp-mapview/lib/CameraMovementDetector.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
Labels: topic:HARP-6597
