Repository heremaps/harp.gl, pull requests merged in 2019-11, with the labels that each got.

#998 Release 0.11.0
  @here/generator-harp.gl/generators/app/templates/index.ts
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  test/performance/package.json
Labels: topic:release_0_11_0

#977 Minor: Bumped font-catalog to 0.1.2.
  @here/harp-map-theme/package.json
  yarn.lock
Labels: topic:fontCatalog1.2

#830 Robust FeatureDataSource.
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/geojson-viewer.ts
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-features-datasource/package.json
Labels: topic:feature-datasource-tweaks

#994 HARP-7667: Notify datasource of elevation overlay status upon addition
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-7667

#976 HARP-7560: Added secondaryCaps support.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-7560

#923 Harp 7373 label persistence
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/PlacementStats.ts
  @here/harp-mapview/lib/text/RenderState.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementGroup.ts
  @here/harp-mapview/lib/text/TextElementGroupPriorityList.ts
  @here/harp-mapview/lib/text/TextElementGroupState.ts
  @here/harp-mapview/lib/text/TextElementState.ts
  @here/harp-mapview/lib/text/TextElementStateCache.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/UpdateStats.ts
  @here/harp-mapview/test/TextElementsRendererTest.ts
Labels: topic:HARP-7373_Refactor

#988 MINOR: Fix the building animation going through ground.
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:flatextrusion

#916 HARP-7204: Implemented animated lines.
  @here/harp-datasource-protocol/index-decoder.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-mapview-decoder/lib/GeoJsonTiler.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-omv-datasource/lib/IGeometryProcessor.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
Labels: topic:HARP-7204

#947 HARP-7582 Move IBCT utils to /coresdk
  @here/harp-lines/package.json
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-test-utils/index.ts
  @here/harp-test-utils/index.web.ts
  @here/harp-test-utils/lib/rendering/DomImageUtils.ts
  @here/harp-test-utils/lib/rendering/DomReporter.ts
  @here/harp-test-utils/lib/rendering/FeedbackCli.ts
  @here/harp-test-utils/lib/rendering/FeedbackCommon.ts
  @here/harp-test-utils/lib/rendering/FeedbackServer.ts
  @here/harp-test-utils/lib/rendering/FeedbackServerReporter.ts
  @here/harp-test-utils/lib/rendering/HtmlReport.ts
  @here/harp-test-utils/lib/rendering/ImageBasedTestHelper.ts
  @here/harp-test-utils/lib/rendering/ImageLocator.ts
  @here/harp-test-utils/lib/rendering/Interface.ts
  @here/harp-test-utils/lib/rendering/Magnifier.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-text-canvas/test/rendering/TextCanvasRenderingTest.ts
  @here/harp-utils/package.json
  @here/harp-utils/test/PerformanceTimerTest.ts
  package.json
  test/rendering.html
  test/rendering/GeoJsonDataRendering.ts
  test/rendering/package.json
  test/resources/basic_polygon.json
  webpack.tests.config.js
Labels: topic:HARP-7582

#1019 MINOR: Add a projection switch.
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_satellite-tile.ts
  @here/harp-examples/src/datasource_satellite-tile_globe.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_webtile_globe.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/geojson-viewer.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:projection-switch

#1022 HARP-7677: Add OlpDataProvider implementation
  @here/harp-olp-utils/index.ts
  @here/harp-olp-utils/lib/OlpDataProvider.ts
  @here/harp-olp-utils/package.json
  yarn.lock
Labels: topic:HARP-7677

#1031 HARP-7677: Remove unsupported OmvDataSourceParameters
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-7677-cleanup

#1017 MINOR: Renames IBCT files
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-test-utils/index.ts
  @here/harp-test-utils/index.web.ts
  @here/harp-test-utils/lib/rendering/DomImageUtils.ts
  @here/harp-test-utils/lib/rendering/DomReporter.ts
  @here/harp-test-utils/lib/rendering/HtmlReport.ts
  @here/harp-test-utils/lib/rendering/ReferenceImageLocator.ts
  @here/harp-test-utils/lib/rendering/RenderingTestHelper.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultCli.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultCommon.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultReporter.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultServer.ts
  @here/harp-text-canvas/test/rendering/TextCanvasRenderingTest.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:ibct-renames

#921 HARP-7109: Street outlines are visible even if outline width is 0
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-7109

#1033 HARP-7828: Upgrade to typescript 3.7
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/package.json
  @here/harp-omv-datasource/test/OmvRestClientTest.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  yarn.lock
Labels: topic:HARP-7828

#1034 HARP-7828: Update prettier
  @here/harp-datasource-protocol/lib/ExprParser.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-examples/resources/geology.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-geoutils/test/TileKeyTest.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
  @here/harp-map-theme/test/DefaultThemeTest.ts
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/composing/MSAARenderPass.ts
  @here/harp-mapview/lib/composing/Outline.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/CopyrightProvidersTest.ts
  @here/harp-mapview/test/ThemeLoaderTest.ts
  @here/harp-omv-datasource/lib/OmvDataFilter.ts
  @here/harp-omv-datasource/lib/OmvRestClient.ts
  @here/harp-test-utils/lib/rendering/DomReporter.ts
  @here/harp-text-canvas/lib/utils/UnicodeUtils.ts
  @here/harp-utils/test/ObjectUtilsTest.ts
  package.json
  test/resources/basic_polygon.json
  yarn.lock
Labels: topic:HARP-7828

#1035 HARP-7828: Update the npm packages
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  package.json
  yarn.lock
Labels: topic:HARP-7828

#1037 HARP-7677: Remove another unsupported OmvDataSourceParameter
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-7677-cleanup-part-two

#1043 HARP-7828: Remove tween types dependency
  @here/generator-harp.gl/generators/app/templates/package.json
Labels: topic:HARP-7828-remove-tween-types

#1044 HARP-7828: Rollback to tween.js 17.x
  @here/harp-examples/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  yarn.lock
Labels: topic:HARP-7828-TWEEN-ROLLBACK

#901 HARP-7161: Support for UrlResolvers in MapView.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/lib/poi/PoiTableManager.ts
  @here/harp-mapview/test/ThemeLoaderTest.ts
  @here/harp-utils/index.ts
  @here/harp-utils/lib/UriResolver.ts
  @here/harp-utils/lib/UrlResolver.ts
  @here/harp-utils/lib/UrlUtils.ts
  @here/harp-utils/test/UriResolverTest.ts
  @here/harp-utils/test/UrlResolverTest.ts
  @here/harp-utils/test/UrlUtilsTest.ts
  @here/harp.gl/lib/BundleMain.ts
Labels: topic:HARP-7161

#1016 HARP-7124: Unified Solid and Dashed line techniques.
  @here/harp-datasource-protocol/README.md
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-materials/index.ts
  @here/harp-materials/lib/DashedLineMaterial.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  docs/resources/theme.json
Labels: topic:HARP-7124

#1052 Minor: Disabled dashed-line deprecation warning.
  @here/harp-mapview/lib/ThemeLoader.ts
Labels: topic:minorDashedWarningDisabled

#1047 HARP-7898: Color interpolation switches to RGB space instead of HSL.
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/StringEncodedNumeral.ts
  @here/harp-datasource-protocol/test/InterpolationTest.ts
Labels: topic:harp-7898-rgb-interpolation

#1046 HARP-7629 Updated chromedriver for Chrome 78
  package.json
  yarn.lock
Labels: topic:HARP-7629

#1059 HARP-7711 Changed zoom level in synchronous rendering example to display buildings
  @here/harp-examples/src/rendering_synchronous.ts
Labels: topic:HARP-7711

#1030 HARP-7808 Clip polygons
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-7808_clip

#1063 HARP-7000: Yeoman generator is using old versions
  .travis.yml
  @here/generator-harp.gl/README.md
  @here/generator-harp.gl/generators/app/index.js
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/harp-map-theme/scripts/prepack.ts
Labels: topic:HARP-7000

#1045 HARP-7517: Partial support for HEX encoded RGBA colors.
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/StringEncodedNumeral.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
Labels: topic:harp-7517-rgba-expression-hex

#1073 HARP-7808 Fixing issue with tile offset + some artifacts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-7808_fix

#1072 HARP-7373: Decode text geometries coordinates in world space.
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/overlayOnElevation.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementStateCache.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/OmvUtils.ts
Labels: topic:HARP-7916_TextWorldCoords

#1080 HARP-7808 Fix globe polygons not rendering
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-7808_fix_globe
