Repository heremaps/harp.gl, pull requests merged in 2019-06, with the labels that each got.

#486 HARP-5896: Added dancing dude example
  @here/harp-examples/resources/dancing.fbx
  @here/harp-examples/src/hello.ts
  @here/harp-examples/src/threejs_add-animated-object.ts
  @here/harp-examples/src/threejs_add-simple-object.ts
Labels: topic:HARP-5896-animated-scene-object

#505 HARP-5698: getScreenPosition bugfix.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Statistics.ts
  @here/harp-mapview/test/MapViewTest.ts
Labels: topic:HARP-5698

#506 HARP-6028: Update typescript to 3.5
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/lib/WorkerService.ts
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  yarn.lock
Labels: topic:typescript_3.5

#510 HARP-6039: Update stylathon themes with the new sky interface.
  @here/harp-map-theme/resources/berlin_tilezen_effects_outlines.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_streets.json
Labels: topic:HARP-6039

#515 Minor Sky Changes
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_base_globe.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_outlines.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_streets.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/SkyBackground.ts
  @here/harp-mapview/lib/SkyCubemapTexture.ts
  @here/harp-mapview/lib/SkyGradientTexture.ts
  @here/harp-mapview/lib/ThemeLoader.ts
Labels: topic:MinorSkyChanges

#514 HARP-5760: Outline Batching bugfix.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/IMeshBuffers.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-5760

#513 HARP-5904: Implement lookAt method.
  @here/harp-examples/README.md
  @here/harp-examples/src/camera_orbit.ts
  @here/harp-examples/src/datasource_satellitetile.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/effects_all.ts
  @here/harp-examples/src/effects_themes.ts
  @here/harp-examples/src/hello.ts
  @here/harp-examples/src/hello_js-bundle.html
  @here/harp-examples/src/hello_textured_areas.ts
  @here/harp-examples/src/multiview_triple-view.ts
  @here/harp-examples/src/themes.ts
  @here/harp-examples/src/threejs_add-animated-object.ts
  @here/harp-examples/src/threejs_raycast.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:HARP-5904

#498 HARP-5947: Refactoring tile geometry creation
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileDataAccessor.ts
  @here/harp-mapview/lib/geometry/TileGeometry.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
Labels: topic:HARP-5947

#531 HARP-5768: DashedLine Pixel Shader Bugfix.
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-5768

#536 HARP-6063: Disabled road tile clipping for non-planar projections.
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-6063

#496 HARP-5883: Interpolation of colors with zoom levels does not work
  @here/harp-examples/src/techniques_interpolation.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-5883

#529 HARP-6042: StyleCacheId bugfix.
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/TileInfo.ts
  @here/harp-datasource-protocol/test/TileInfoTest.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/TextStyleCache.ts
Labels: topic:HARP-6042

#543 HARP-6087: SolidLines vertex color support.
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-6087

#547 MINOR: Replaced public example using deprecated GeoJsonDatasource
  @here/harp-examples/src/datasource_geojson_heatmap.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
Labels: topic:minor-move-geojson-example

#550 HARP-5949: Default language support.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-5949

#558 HARP-6196: Fine-tune ZoomLevel for spherical projections.
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:HARP-6196

#560 HARP-6210: Exponential interpolation bugfix.
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
Labels: topic:HARP-6210

#564 Reverted HARP-6196.
  @here/harp-mapview/lib/Utils.ts
Labels: topic:andresVT-Revert-HARP-6196

#562 Update npm dependencies
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-examples/src/multiview_triple-view.ts
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-geoutils/test/SphereProjectionTest.ts
  @here/harp-lines/lib/HighPrecisionUtils.ts
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/lib/WorkerServiceManager.ts
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/ScreenCollisions.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/image/ImageCache.ts
  @here/harp-mapview/lib/poi/PoiTableManager.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  yarn.lock
Labels: topic:update-packages

#571 HARP-6101: Clear loader cache in TileDataSource(s).
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:harp-6101

#522 HARP-5557: Support for rendering POI icons on every map theme.
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-map-theme/resources/poi_table_maki.json
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/poi/PoiTableManager.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:harp-5557

#572 Minor: GradientSky horizon fix.
  @here/harp-mapview/lib/SkyGradientTexture.ts
Labels: topic:andresVT-GradientHorizonFix

#570 HARP-6211: Tweaked tile visibility evaluation.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:HARP-6211

#551 HARP-5430 Adding correct panning with terrain.
  @here/harp-examples/src/elevationprovider.ts
  @here/harp-geoutils/lib/projection/EquirectangularProjection.ts
  @here/harp-geoutils/lib/projection/IdentityProjection.ts
  @here/harp-geoutils/lib/projection/MercatorProjection.ts
  @here/harp-geoutils/lib/projection/Projection.ts
  @here/harp-geoutils/lib/projection/SphereProjection.ts
  @here/harp-geoutils/test/ProjectionTest.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/ElevationProvider.ts
  @here/harp-mapview/lib/Utils.ts
Labels: topic:HARP-5430_correct_panning

#526 Geojsontiler implementation for easier testing without workers (renders sample GeoJSON using GeoJsonDataProvider)
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-geojson-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-mapview-decoder/index-worker.ts
  @here/harp-mapview-decoder/lib/GeoJsonTiler.ts
  @here/harp-mapview-decoder/lib/TilerService.ts
Labels: topic:HARP-6161

#579 HARP-6194 Adding run time change to projection
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/SkyBackground.ts
Labels: topic:HARP-6194

#589 HARP-5432 Simplified the interface to make it easier to show internal data
  @here/harp-examples/src/elevationprovider.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/DisplacementMap.ts
  @here/harp-mapview/lib/ElevationProvider.ts
Labels: topic:HARP-5432_displacementmap

#559 HARP-6057: Tweaked MapView default cache values (globe).
  @here/harp-examples/src/datasource_satellitetile.ts
  @here/harp-examples/src/datasource_satellitetile_globe.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_webtile_globe.ts
  @here/harp-examples/src/globe.ts
Labels: topic:HARP-6057
