Repository heremaps/harp.gl, pull requests merged in 2019-03, with the labels that each got.

#280 Rename harp-download-manager as harp-transfer-manager
  @here/harp-download-manager/.yarnrc
  @here/harp-geojson-datasource/package.json
  @here/harp-omv-datasource/lib/OmvRestClient.ts
  @here/harp-omv-datasource/package.json
  @here/harp-omv-datasource/test/OmvRestClientTest.ts
  @here/harp-transfer-manager/.gitignore
  @here/harp-transfer-manager/.npmignore
  @here/harp-transfer-manager/.yarnrc
  @here/harp-transfer-manager/LICENSE
  @here/harp-transfer-manager/README.md
  @here/harp-transfer-manager/index.ts
  @here/harp-transfer-manager/package.json
  @here/harp-transfer-manager/src/TransferManager.ts
  @here/harp-transfer-manager/test/TransferManagerTest.ts
  @here/harp-transfer-manager/tsconfig.json
Labels: topic:new-transfer-manager

#286 HARP-4087: Update threejs to v102.
  @here/generator-harp.gl/generators/app/templates/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-examples/src/camera_free.ts
  @here/harp-examples/webpack.config.js
  @here/harp-geojson-datasource/package.json
  @here/harp-lines/lib/HighPrecisionUtils.ts
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-controls/test/MapControlsTest.ts
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/Statistics.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/composing/IPassManager.ts
  @here/harp-mapview/lib/composing/LowResRenderPass.ts
  @here/harp-mapview/lib/composing/MSAARenderPass.ts
  @here/harp-mapview/lib/composing/MapRenderingManager.ts
  @here/harp-mapview/lib/composing/Pass.ts
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-materials/lib/CirclePointsMaterial.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-text-canvas/lib/TextCanvas.ts
  @here/harp-text-canvas/lib/rendering/GlyphTextureCache.ts
  @here/harp-text-canvas/lib/rendering/TextGeometry.ts
  @here/harp-text-canvas/lib/typesetting/Typesetter.ts
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  docs/GettingStartedGuide.md
  package.json
  yarn.lock
Labels: topic:HARP-5087-three-v102

#296 HARP-4900: ZoomLevel alignment.
  @here/harp-debug-datasource/lib/DebugTileDataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-4900

#302 HARP-5108: Improved PointLabels VertexBuffer allocations.
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-text-canvas/lib/TextCanvas.ts
  @here/harp-text-canvas/lib/rendering/TextBufferObject.ts
Labels: topic:HARP-5108

#304 HARP-4807: Flipped inverted path labels.
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
Labels: topic:HARP-4807

#305 Minor: Text renderOrder fix.
  @here/harp-text-canvas/lib/rendering/TextGeometry.ts
Labels: topic:andresVT-TextOrderFix

#310 HARP-4923: Add default controls buttons.
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/hello.ts
  @here/harp-examples/src/multiview_triple-view.ts
  @here/harp-examples/template/example.html
  @here/harp-map-controls/index.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
Labels: topic:HARP-4923

#309 HARP-5103: Reduce TextCanvas memory usage.
  @here/harp-examples/src/textcanvas_dynamic.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-text-canvas/lib/TextCanvas.ts
  @here/harp-text-canvas/lib/rendering/FontCatalog.ts
  @here/harp-text-canvas/lib/rendering/GlyphTextureCache.ts
  @here/harp-text-canvas/lib/rendering/TextGeometry.ts
  @here/harp-text-canvas/lib/rendering/TextMaterials.ts
  @here/harp-text-canvas/test/TextCanvasTest.ts
Labels: topic:HARP-5103

#313 HARP-5167: Expose map theme related types.
  @here/harp-datasource-protocol/lib/Theme.ts
Labels: topic:HARP-5167

#314 HARP-2497: Removed ZoomLevel from decoding.
  @here/harp-datasource-protocol/lib/ITileDecoder.ts
  @here/harp-datasource-protocol/lib/WorkerDecoderProtocol.ts
  @here/harp-mapview-decoder/lib/ThemedTileDecoder.ts
  @here/harp-mapview-decoder/lib/TileDecoderService.ts
  @here/harp-mapview-decoder/lib/TileLoader.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/WorkerBasedDecoder.ts
  @here/harp-omv-datasource/lib/IGeometryProcessor.ts
  @here/harp-omv-datasource/lib/OmvData.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
Labels: topic:HARP-2497

#312 HARP-5129: Add storageLevelOffset to DataSource.
  @here/harp-debug-datasource/lib/DebugTileDataSource.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-5129

#303 HARP-4667: Make tile cache computation based on actual memory usage
  @here/harp-datasource-protocol/lib/TileInfo.ts
  @here/harp-lrucache/lib/LRUCache.ts
  @here/harp-lrucache/test/LRUCacheTest.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/RoadPicker.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-text-canvas/lib/TextCanvas.ts
  @here/harp-text-canvas/lib/rendering/FontCatalog.ts
  @here/harp-text-canvas/lib/rendering/TextGeometry.ts
Labels: topic:HARP-4667

#326 MINOR: Remove objects creation in MapControls.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:controls-remove-clone

#327 HARP-5195: Fix MapControlsUI's CSS.
  @here/harp-map-controls/lib/MapControlsUI.ts
Labels: topic:HARP-5195

#330 MINOR: Fix GeoJson storageLevelOffset.
  @here/harp-geojson-datasource/lib/GeoJsonDataSource.ts
Labels: topic:fix-geojson-storage-level

#333 HARP-3815: Host examples on Github Pages.
  .travis.yml
  docs/index.html
  scripts/doc-snippets.ts
  typedoc.json
Labels: topic:HARP-3815

#338 MINOR: Rename sampleMapView to map or mapView.
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/hello.ts
  @here/harp-examples/src/multiview_triple-view.ts
Labels: topic:no-samples

#340 HARP-5268: Fix undefined decodedTile in PickHandler.
  @here/harp-mapview/lib/Tile.ts
Labels: topic:HARP-5268
