Repository heremaps/harp.gl, pull requests merged in 2019-12, with the labels that each got.

#1102 HARP-7881: Add harp.gl project creator
  @here/create-harp.gl-app/.gitignore
  @here/create-harp.gl-app/.yarnrc
  @here/create-harp.gl-app/LICENSE
  @here/create-harp.gl-app/README.md
  @here/create-harp.gl-app/package.json
  @here/create-harp.gl-app/src/index.js
  @here/create-harp.gl-app/test/test.js
  scripts/test-npm-packages.sh
  yarn.lock
Labels: topic:HARP-7881

#1114 HARP-7881: Add support for javascript projects with harp.gl generator
  @here/generator-harp.gl/generators/app/index.js
  @here/generator-harp.gl/generators/app/templates/javascript/View.js
  @here/generator-harp.gl/generators/app/templates/javascript/decoder.js
  @here/generator-harp.gl/generators/app/templates/javascript/index.js
  @here/generator-harp.gl/generators/app/templates/javascript/webpack.config.js
  @here/generator-harp.gl/generators/app/templates/typescript/View.ts
  @here/generator-harp.gl/generators/app/templates/typescript/decoder.ts
  @here/generator-harp.gl/generators/app/templates/typescript/index.ts
  @here/generator-harp.gl/generators/app/templates/typescript/tsconfig.json
  @here/generator-harp.gl/generators/app/templates/typescript/webpack.config.js
Labels: topic:HARP-7881-generator-javascript

#1069 HARP-7105 Updated builds script to create minified code
  .travis.yml
  @here/harp-examples/webpack.config.js
  package.json
Labels: topic:HARP-7105

#1025 HARP-6510 Running rendering tests locally in docker container.
  .gitignore
  @here/harp-test-utils/lib/rendering/ReferenceImageLocator.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultCli.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultServer.ts
  package.json
  scripts/rendering-tests-reference-platform.sh
  scripts/with-docker-selenium.sh
  scripts/with-http-server.ts
  test/README.md
  webpack.tests.config.js
  yarn.lock
Labels: topic:HARP-6510-v2

#1085 HARP-7410 Changed algorithm to compute near and far plane for globe projection.
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
Labels: topic:HARP-7410

#1125 HARP-8111 Refactored tile loader to fix bug and remove unecessary tile reloads.
  @here/harp-mapview-decoder/lib/TileLoader.ts
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview-decoder/test/TileLoaderTest.ts
  yarn.lock
Labels: topic:HARP-8111

#1131 HARP-7373: Fix decoding of feature ids.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:FixFeatureIds

#1122 Harp 8066: Fix bug with fallback + IBCT tests.
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:HARP-8066

#1027 HARP-7399 Added camera properties to MapView constructor
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/styling_data-driven.ts
  @here/harp-examples/src/threejs_camera-animation.ts
  @here/harp-geoutils/lib/coordinates/GeoCoordinates.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/test/MapViewTest.ts
  docs/GettingStartedGuide.md
  yarn.lock
Labels: topic:HARP-7399

#1152 HARP-8257: Update to three.js 111
  @here/harp-datasource-protocol/lib/ThreeBufferUtils.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/geometry/TileGeometry.ts
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/lib/rendering/GlyphTextureCache.ts
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  test/performance/package.json
  test/rendering/package.json
  yarn.lock
Labels: topic:HARP-8257

#1148 HARP-7373: Use feature id if available for label deduplication.
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementStateCache.ts
Labels: topic:FeatureIdDedup

#1156 HARP-8008 Fix bug in PolarTileDataSource
  @here/harp-mapview/lib/PolarTileDataSource.ts
Labels: topic: HARP-8008_sphere_ibct

#1134 HARP-7551: Adding harp.gl webpack configuration helper
  @here/generator-harp.gl/generators/app/index.js
  @here/generator-harp.gl/generators/app/templates/javascript/webpack.config.js
  @here/generator-harp.gl/generators/app/templates/typescript/webpack.config.js
  @here/harp-webpack-utils/.gitignore
  @here/harp-webpack-utils/.npmignore
  @here/harp-webpack-utils/.yarnrc
  @here/harp-webpack-utils/LICENSE
  @here/harp-webpack-utils/README.md
  @here/harp-webpack-utils/package.json
  @here/harp-webpack-utils/scripts/HarpWebpackConfig.ts
  @here/harp-webpack-utils/tsconfig.json
  README.md
  docs/GettingStartedGuide.md
  scripts/test-npm-packages.sh
  yarn.lock
Labels: topic:HARP-7551

#1165 HARP-8296: Fix terrain decoder data transfer
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
Labels: topic:HARP-8296

#1150 HARP-8188: Enforce blending w/o setting transparent to true
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/index.ts
  @here/harp-materials/lib/CirclePointsMaterial.ts
  @here/harp-materials/lib/EdgeMaterial.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-materials/lib/Utils.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-8188-no-transparency

#1176 Upgrade harp-fontcatalog.
  @here/harp-map-theme/package.json
  yarn.lock
Labels: topic:HARP-6021
