Repository heremaps/harp.gl, pull requests merged in 2019-10, with the labels that each got.

#827 HARP-7291 Block labels with boxes, lines and world lines.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PathBlockingElement.ts
  @here/harp-mapview/lib/ScreenCollisions.ts
  @here/harp-mapview/lib/ScreenProjector.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/ScreenCollisionsTest.ts
Labels: topic:HARP-7291

#876 Harp-7292: All data sources utilizes single cache for tiles.
  @here/harp-lrucache/lib/LRUCache.ts
  @here/harp-lrucache/test/LRUCacheTest.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
Labels: topic:harp-7292-single-cache

#900 MINOR: Fix inconsistent zoom level.
  @here/harp-mapview/lib/Utils.ts
Labels: topic:fix-zoomlevel

#914 MINOR: Add morton code to debug tile text
  @here/harp-debug-datasource/lib/DebugTileDataSource.ts
Labels: topic:add-morton-code

#856 HARP-5347: Compass button.
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/synchronized-views.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
  @here/harp-mapview/lib/CameraMovementDetector.ts
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
Labels: topic:HARP-5347

#865 HARP-7419 Adding technique for world space line to block screen space labels.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-geojson-datasource/lib/GeoJsonDecoder.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PathBlockingElement.ts
  @here/harp-mapview/lib/ScreenCollisions.ts
  @here/harp-mapview/lib/ScreenProjector.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/ScreenCollisionsTest.ts
  @here/harp-mapview/test/ScreenProjectorTest.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-7419, topic:HARP-7419_merged

#890 HARP-7194: Fixed tiled geojson picking.
  @here/harp-mapview-decoder/lib/GeoJsonTiler.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
Labels: topic:HARP-7194

#937 Minor: Bump chromedriver to 77.0.0
  package.json
  yarn.lock
Labels: topic:chromeDriver77

#917 HARP-6636: Fix MapView.FrameComplete event
  @here/harp-mapview/lib/MapView.ts
Labels: HARP-6636

#943 HARP-7586: Fix touch rotation in globe.
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/test/MapControlsTest.ts
Labels: topic:HARP-7586

#945 MINOR: Fix the UI for the zoom level.
  @here/harp-examples/src/datasource_object-picking.ts
  @here/harp-examples/src/datasource_satellite-tile.ts
  @here/harp-examples/src/datasource_satellite-tile_globe.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_webtile_globe.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
Labels: topic:zoomlevelui-fix

#911 OLPRPS-5210: Implemented `CopyrightProvider`.
  @here/harp-examples/config.ts
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_geojson_choropleth.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/datasource_object-picking.ts
  @here/harp-examples/src/elevation-provider.ts
  @here/harp-examples/src/geojson-viewer.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-examples/src/theme_data-driven.ts
  @here/harp-examples/src/threejs_raycast.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/copyrights/CopyrightCoverageProvider.ts
  @here/harp-mapview/lib/copyrights/CopyrightElementHandler.ts
  @here/harp-mapview/lib/copyrights/CopyrightInfo.ts
  @here/harp-mapview/lib/copyrights/CopyrightProvider.ts
  @here/harp-mapview/lib/copyrights/UrlCopyrightProvider.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/CopyrightProvidersTest.ts
  @here/harp-olp-utils/.gitignore
  @here/harp-olp-utils/.npmignore
  @here/harp-olp-utils/.yarnrc
  @here/harp-olp-utils/LICENSE
  @here/harp-olp-utils/README.md
  @here/harp-olp-utils/index.ts
  @here/harp-olp-utils/lib/OlpCopyrightProvider.ts
  @here/harp-olp-utils/package.json
  @here/harp-olp-utils/tsconfig.json
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  yarn.lock
Labels: topic:OLPRPS-5210

#936 HARP-7356: Fix textIsOptional property
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
Labels: topic:HARP-7322

#950 HARP-7271: Tune the rules for decoding the extruded buildings.
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_outlines.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_streets.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
Labels: topic:HARP-7271-v2

#946 HARP-7639: Update ThreeJS to r109.
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/lib/SubdivisionModifier.ts
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  test/performance/package.json
  yarn.lock
Labels: topic:HARP-7639

#965 HARP-7322: Fix iconXOffset and iconYOffset
  @here/harp-mapview/lib/poi/PoiRenderer.ts
Labels: topic:HARP-7322_offset_fix

#939 MINOR: Fix buildings outlines (edges) rendering.
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-materials/lib/EdgeMaterial.ts
Labels: topic:HARP-7411-outlines

#885 Minor: Cleaned-up line shader.
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:minorLineShaderCleanup

#952 MINOR: Initial view is not Berlin.
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_satellite-tile.ts
  @here/harp-examples/src/datasource_satellite-tile_globe.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/datasource_webtile_globe.ts
  @here/harp-examples/src/datasource_xyzmvt.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:init-location

#979 MINOR: Make logging great again.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/image/ImageCache.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/poi/PoiTableManager.ts
  @here/harp-utils/lib/Logger/LoggerManagerImpl.ts
  @here/harp-utils/test/LoggerManagerTest.ts
Labels: topic:logging

#975 MINOR: Move bad performance example from public
  @here/harp-examples/src/elevation-provider.ts
Labels: topic:minor_move_bad_perf_example

#984 Update to ThreeJS r110.
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-examples/src/textcanvas.ts
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-geoutils/package.json
  @here/harp-lines/lib/HighPrecisionUtils.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/lib/rendering/GlyphTextureCache.ts
  @here/harp-text-canvas/lib/rendering/TextGeometry.ts
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  test/performance/package.json
  yarn.lock
Labels: topic:R110
