Repository heremaps/harp.gl, pull requests merged in 2019-05, with the labels that each got.

#419 MINOR: Fix error message for level 0.
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
Labels: topic:fix-elevation-level-0

#393 MINOR: Added example for standard-textured technique
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-examples/src/hello_textured.ts
  @here/harp-map-theme/resources/wests_textures/clover.png
  @here/harp-map-theme/resources/wests_textures/paving.png
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/lib/Tile.ts
Labels: topic:minor-texture-example

#426 MINOR: Resolved double TextStyle definition in Theme definition
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
Labels: topic:MINOR

#416 HARP-5602: Improved terrain height-based coloring.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-geoutils/lib/projection/EarthConstants.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/ThemeHelpers.ts
  @here/harp-mapview/lib/Tile.ts
Labels: topic:HARP-5602

#420 HARP-5547: Remove "vertexColors: true"
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-mapview/lib/Tile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-5547

#415 HARP-5603: Fix secondaryRenderOrder style argument.
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
Labels: topic:HARP-5603

#431 HARP-5630: Road Z-Fighting bugfix.
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-5630

#435 Minor: Public resolveUrls.
  @here/harp-mapview/lib/ThemeLoader.ts
Labels: topic:andresVT-MinorURLResolve

#376 HARP-5401: Add option to set maximum frame rate
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-5401

#458 HARP-5719: Update three.js to 0.104
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/MapTileCuller.ts
  @here/harp-mapview/lib/composing/LowResRenderPass.ts
  @here/harp-mapview/lib/composing/MSAARenderPass.ts
  @here/harp-mapview/lib/composing/MapRenderingManager.ts
  @here/harp-mapview/lib/composing/Pass.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-text-canvas/lib/TextCanvas.ts
  @here/harp-text-canvas/lib/rendering/GlyphTextureCache.ts
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  docs/GettingStartedGuide.md
  package.json
  yarn.lock
Labels: topic:threejs_104

#447 HARP-5612: Expose all TextCanvas style properties.
  @here/harp-datasource-protocol/README.md
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-examples/resources/dayTwoFonts.json
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-text-canvas/lib/rendering/TextStyle.ts
  @here/harp-text-canvas/lib/typesetting/LineTypesetter.ts
  @here/harp-text-canvas/lib/typesetting/PathTypesetter.ts
Labels: topic:HARP-5612

#347 HARP-5248: Implement API for custom features.
  @here/harp-datasource-protocol/lib/GeoJsonDataType.ts
  @here/harp-datasource-protocol/lib/ITiler.ts
  @here/harp-datasource-protocol/lib/WorkerTilerProtocol.ts
  @here/harp-examples/package.json
  @here/harp-examples/resources/countries.ts
  @here/harp-examples/src/features.ts
  @here/harp-examples/src/features_custom.ts
  @here/harp-features-datasource/.gitignore
  @here/harp-features-datasource/.npmignore
  @here/harp-features-datasource/.yarnrc
  @here/harp-features-datasource/LICENSE
  @here/harp-features-datasource/README.md
  @here/harp-features-datasource/index.ts
  @here/harp-features-datasource/lib/Features.ts
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-features-datasource/package.json
  @here/harp-features-datasource/tsconfig.json
  @here/harp-geojson-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-mapview-decoder/lib/TilerService.ts
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/lib/WorkerBasedTiler.ts
Labels: topic:HARP-5248

#467 HARP-5776: Fixed broken transfer of texture buffers from worker to main thread.
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
Labels: topic:HARP-5776-terrain-transfer-list

#470 HARP-5432 Normal vectors are now the projection's surface normal.
  @here/harp-datasource-protocol/lib/Techniques.ts
Labels: topic:HARP-5432_normal_fix

#474 HARP-5573: Exponential Interpolation Mode.
  @here/harp-datasource-protocol/lib/ExponentialInterpolant.ts
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/InterpolatedPropertyDefs.ts
  @here/harp-datasource-protocol/test/InterpolationTest.ts
Labels: topic:HARP-5573

#480 HARP-5847: Remove SharedArrayBuffer reference.
  @here/harp-omv-datasource/lib/OmvUtils.ts
Labels: topic:HARP-5847

#492 Minor: add .npmignore to harp-geometry
  @here/harp-geometry/.npmignore
Labels: topic:npmign-geom

#493 MINOR: fix feature example's camera and feature.
  @here/harp-examples/src/features.ts
Labels: topic:fix-feature

#446 HARP-5679: More textures + introduce posteffects.
  @here/harp-datasource-protocol/index.ts
  @here/harp-datasource-protocol/lib/PostEffects.ts
  @here/harp-examples/README.md
  @here/harp-examples/src/effects_all.ts
  @here/harp-examples/src/effects_themes.ts
  @here/harp-examples/src/hello.ts
  @here/harp-examples/src/themes.ts
  @here/harp-map-theme/resources/berlin_tilezen_effects_outlines.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_streets.json
  @here/harp-map-theme/resources/effects_outlines.json
  @here/harp-map-theme/resources/effects_streets.json
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/composing/MapRenderingManager.ts
  @here/harp-mapview/lib/composing/Outline.ts
  @here/harp-mapview/lib/composing/Pass.ts
  @here/harp-mapview/lib/composing/UnrealBloomPass.ts
  @here/harp-materials/index.ts
  @here/harp-materials/lib/LuminosityHighPassShader.ts
  @here/harp-materials/lib/SepiaShader.ts
  @here/harp-materials/lib/VignetteShader.ts
Labels: topic:HARP-5679

#479 HARP-5432 Remove z component from mesh
  @here/harp-mapview/lib/Tile.ts
Labels: topic:HARP-5432_add_height_to_terrain_mesh
