Repository heremaps/harp.gl, pull requests merged in 2020-11, with the labels that each got.

#1924 HARP-12403: Add support for clipping lines against the tile bounds.
  @here/harp-geometry/lib/ClipLineString.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson/GeoJsonDataAdapter.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-12403

#1940 Release v0.21.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_21_0

#1927 Styleset priorities
  @here/harp-datasource-protocol/lib/ITileDecoder.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-datasource-protocol/lib/WorkerDecoderProtocol.ts
  @here/harp-datasource-protocol/test/StyleSetEvaluatorTest.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-map-theme/test/DefaultThemeTest.ts
  @here/harp-mapview-decoder/lib/ThemedTileDecoder.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/lib/TileDecoderService.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/WorkerBasedDecoder.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  @here/harp-vectortile-datasource/test/OmvDecodedTileEmitterTest.ts
  test/performance/OmvDecoderPerformanceTest.ts
Labels: topic:styleset-priorities

#1936 Deprecates Datasource.setStyleSet
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
Labels: topic:deprecate-set-styleset

#1948 HARP-12776 Upgrade three.js to r122
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/composing/Outline.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/stubElevationProvider.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:HARP-12776

#1945 FlatTheme support
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/TileDataSourceTest.ts
  @here/harp-mapview/lib/BackgroundDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewThemeManager.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
Labels: topic:flat-theme

#1953 HARP-12599: Deprecates setTheme(theme, languages)
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/TileDataSourceTest.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/test/DataSourceTest.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
Labels: topic:deprecate-languages

#1973 HARP-12959 Support GeoJSON point features with altitude for pre-tiled data.
  @here/harp-examples/src/datasource_geojson_elevated-markers.ts
  @here/harp-geoutils/index.ts
  @here/harp-geoutils/lib/math/Vector2Like.ts
  @here/harp-vectortile-datasource/lib/IGeometryProcessor.ts
  @here/harp-vectortile-datasource/lib/OmvUtils.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson-vt/GeoJsonVtDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson/GeoJsonDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/OmvDataAdapter.ts
  @here/harp-vectortile-datasource/test/OmvDecodedTileEmitterTest.ts
  test/performance/OmvDecoderPerformanceTest.ts
  test/rendering/GeoJsonDataRendering.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-12959_ElevatedGeoJSONPoints

#1987 HARP-13120: Fix the winding of the inner rings of GeoJson polygon.
  @here/harp-vectortile-datasource/lib/adapters/geojson/GeoJsonDataAdapter.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:fix-geojson-polygon-winding

#1989 Add geo features tests
  test/rendering/GeoJsonDataRendering.ts
  test/rendering/GeoJsonFeaturesRendering.ts
  test/rendering/utils/GeoJsonTest.ts
Labels: topic:geo-features-tests
