Repository heremaps/harp.gl, pull requests merged in 2020-03, with the labels that each got.

#1307 HARP-8971: Fix wrong computation of fullFrameTime (hence fps)
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Statistics.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/test/StatisticsTest.ts
Labels: topic:correct-fps

#1345 MINOR: Update packages due to security alert
  @here/harp-examples/package.json
  @here/harp-webpack-utils/package.json
  @here/harp.gl/package.json
  package.json
  www/package.json
  yarn.lock
Labels: topic:update-copy-webpack

#1346 MINOR: Update to three 0.114.0
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/lib/IconMaterial.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three114

#1340 Fix DecodedTile.techniques typings.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
Labels: topic:HARP-8858-decoded-tile-typings

#1350 Change default HERE Authentication and Services
  @here/create-harp.gl-app/README.md
  @here/generator-harp.gl/README.md
  @here/generator-harp.gl/generators/app/index.js
  @here/generator-harp.gl/generators/app/templates/javascript/View.js
  @here/generator-harp.gl/generators/app/templates/typescript/View.ts
  @here/harp-examples/config.ts
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/datasource_geojson_choropleth.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/datasource_here_vector_tile.ts
  @here/harp-examples/src/datasource_satellite-tile.ts
  @here/harp-examples/src/datasource_webtile.ts
  @here/harp-examples/src/geojson-viewer.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_hello-world_js-bundle.html
  @here/harp-examples/src/getting-started_hello-world_npm.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/object-picking.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-examples/src/rendering_synchronous.ts
  @here/harp-examples/src/styling_data-driven.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-examples/src/synchronized-views.ts
  @here/harp-examples/src/threejs_raycast.ts
  @here/harp-omv-datasource/README.md
  @here/harp-omv-datasource/lib/OmvRestClient.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
  README.md
  docs/GettingStartedGuide.md
  scripts/credentials.ts
  test/performance/OmvDecoderPerformanceTest.ts
  www/src/index.ts
Labels: topic:new-vts

#1356 HARP-7942: Enable tslint deprecate check
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TileInfo.ts
  @here/harp-datasource-protocol/test/ExprTest.ts
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-examples/src/rendering_synchronous.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-geoutils/lib/coordinates/GeoCoordinates.ts
  @here/harp-geoutils/lib/math/MathUtils.ts
  @here/harp-geoutils/lib/projection/EquirectangularProjection.ts
  @here/harp-geoutils/lib/projection/IdentityProjection.ts
  @here/harp-geoutils/lib/projection/MercatorProjection.ts
  @here/harp-geoutils/lib/projection/SphereProjection.ts
  @here/harp-geoutils/lib/projection/TransverseMercatorProjection.ts
  @here/harp-geoutils/lib/tiling/FlatTileBoundingBoxGenerator.ts
  @here/harp-geoutils/test/ProjectionTest.ts
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-lrucache/test/LRUCacheTest.ts
  @here/harp-map-theme/test/DefaultThemeTest.ts
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/RoadPicker.ts
  @here/harp-mapview/lib/ScreenCollisions.ts
  @here/harp-mapview/lib/geometry/LodMesh.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
  @here/harp-mapview/test/ScreenCollisionsTest.ts
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvRestClient.ts
  @here/harp-omv-datasource/test/MapViewPickingTest.ts
  @here/harp-test-utils/lib/rendering/Magnifier.ts
  @here/harp-test-utils/lib/rendering/RenderingTestHelper.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultCli.ts
  @here/harp-test-utils/lib/rendering/RenderingTestResultServer.ts
  @here/harp-text-canvas/test/rendering/TextCanvasRenderingTest.ts
  test/performance/LinesPerformanceTest.ts
  test/rendering/StylingTest.ts
  tslint.json
Labels: topic:minor-tslint-deprecate

#1359 Change default level of OMV DataSource to 17
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:default-st-level

#1328 HARP-8870 Fix cull frustum setup when terrain data source is used.
  @here/harp-mapview/lib/ElevationRangeSource.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/test/MapViewTest.ts
Labels: topic:HARP-8870

#1367 HARP-8873 Removed phase loading
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-mapview-decoder/test/TileGeometryLoaderTest.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/PhasedTileGeometryManager.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
Labels: topic:HARP-8873

#1380 HARP-9275: Move bilinear interpolation sampling to harp utils.
  @here/harp-utils/index-common.ts
  @here/harp-utils/lib/SampleBilinear.ts
  @here/harp-utils/test/SampleBilinearTest.ts
Labels: topic:HARP-9275_sampleBilinear

#1375 HARP-9037 Refactored DataSource zoom level limits
  @here/harp-debug-datasource/lib/DebugTileDataSource.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/BackgroundDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/DataSourceTest.ts
  @here/harp-mapview/test/FakeOmvDataSource.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
  @here/harp-mapview/test/TileTest.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
Labels: topic:HARP-9037

#1394 Fixed bug in OmvDataSource introduced by PR #1375 (HARP-9037).
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/test/OmvDataSourceTest.ts
Labels: topic:HARP-9037-bugfix

#1379 HARP-9275: Test intersection with tiles on picking.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-mapview/lib/PickHandler.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
  @here/harp-mapview/test/TileTest.ts
Labels: topic:HARP-9275_TilePicking

#1398 HARP-9463 Added support for deprecated minZoomLevel, maxZoomLevel in …
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/TileDataSourceTest.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/test/OmvDataSourceTest.ts
Labels: topic:HARP-9463

#1355 UrlUtils: Support for data: URI scheme.
  @here/harp-utils/lib/UrlUtils.ts
  @here/harp-utils/test/UrlUtilsTest.ts
Labels: topic:HARP-7206

#1365 HARP-7400: Added fallback for target and targetDistance
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/MapViewTest.ts
Labels: topic:HARP-7400

#1403 HARP-7814: Fix gap&dash size handling for solid-line technique.
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-7814

#1404 HARP-9251: Fix SolidLineMaterial.lineWidth semantics.
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-9251

#1392 HARP-7835: Improved lookAt API
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-examples/src/datasource_geojson_choropleth.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_open-sourced-themes.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/rendering_post-effects_all.ts
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-examples/src/rendering_synchronous.ts
  @here/harp-examples/src/styling_extend-a-theme.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-examples/src/styling_textured-areas.ts
  @here/harp-examples/src/synchronized-views.ts
  @here/harp-examples/src/threejs_animation.ts
  @here/harp-examples/src/threejs_raycast.ts
  @here/harp-examples/src/threejs_shadows.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-omv-datasource/test/MapViewPickingTest.ts
  test/rendering/GeoJsonDataRendering.ts
  test/rendering/StylingTest.ts
  www/src/index.ts
Labels: topic:HARP-7835

#1408 HARP-9198 HARP-9280 Fix label and icon placement
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/test/PlacementTest.ts
  @here/harp-mapview/test/PoiRendererTest.ts
Labels: topic:HARP-9198

#1302 TEST: Added Berlin ZoomIn test
  @here/harp-examples/lib/PerformanceConfig.ts
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-examples/webpack.config.js
Labels: topic:berlin_zoom_in_test
