Repository heremaps/harp.gl, pull requests merged in 2020-04, with the labels that each got.

#1410 HARP-9159: Cleanup kind-based filtering.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
Labels: topic:HARP-9159

#1405 HARP-7835: Removal of MapView.worldRoot
  @here/harp-mapview/lib/MapView.ts
  @here/harp-omv-datasource/test/MapViewPickingTest.ts
Labels: topic:minor-remove-worldRoot

#1415 HARP-9449 Implement auth with token for webtile datasource.
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/TextureLoader.ts
  @here/harp-mapview/lib/copyrights/UrlCopyrightProvider.ts
  @here/harp-mapview/test/TextureLoaderTest.ts
  @here/harp-mapview/test/resources/headshot.jpg
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
Labels: topic:HARP-9449

#1448 Merge release 0.14.0 to master
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_14_0

#1430 HARP-8744 Fix lighting for shadows
  @here/harp-examples/src/threejs_shadows.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/ThemeHelpers.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/ShaderChunks/ShadowChunks.ts
Labels: topic:HARP-8744

#1462 HARP-10005 Refactor render loop code…
  @here/harp-examples/src/rendering_synchronous.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-10005

#1476 MINOR: Update mocha to 7.1.1
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-webtile-datasource/package.json
Labels: topic:minor-mocka-update

#1484 HARP-7836: Add support for tiled GeoJson.
  @here/harp-omv-datasource/lib/DecodeInfo.ts
  @here/harp-omv-datasource/lib/OmvData.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvRestClient.ts
  @here/harp-omv-datasource/lib/OmvTileInfoEmitter.ts
  @here/harp-omv-datasource/lib/OmvUtils.ts
  @here/harp-omv-datasource/lib/TiledGeoJsonAdapter.ts
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
  @here/harp-omv-datasource/test/OmvDecodedTileEmitterTest.ts
  test/performance/OmvDecoderPerformanceTest.ts
Labels: topic:HARP-7836

#1483 HARP-9443: Implement the GeoJson datasource using omv-datasource.
  @here/harp-examples/decoder/decoder.ts
  @here/harp-examples/package.json
  @here/harp-examples/src/datasource_geojson_choropleth.ts
  @here/harp-examples/src/datasource_geojson_styling_game.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/index-worker.ts
  @here/harp-geojson-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-geojson-datasource/lib/GeoJsonDataSource.ts
  @here/harp-geojson-datasource/lib/GeoJsonDecoder.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-geojson-datasource/lib/GeoJsonParser.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-geojson-datasource/lib/GeoJsonTileDecoderService.ts
  @here/harp-geojson-datasource/lib/utils/Flattener.ts
  @here/harp-geojson-datasource/package.json
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-omv-datasource/index.ts
  @here/harp-omv-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-omv-datasource/package.json
  @here/harp-omv-datasource/test/MapViewPickingTest.ts
  @here/harp.gl/lib/DecoderBundleMain.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-9443

#1473 MINOR: Update typedoc to 0.17.4
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  www/package.json
  yarn.lock
Labels: topic:minor-upgrade-typedoc

#1479 MINOR: Update three.js to 0.115.0
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/geometry/DisplacedBufferGeometry.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/DisplacedBufferGeometryTest.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/StylingTest.ts
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:minor_three_115

#1457 HARP-6501: MapView.lookAt for GeoBox and arbitrary point support
  @here/harp-examples/src/getting-started_look-at.ts
  @here/harp-geoutils/index.ts
  @here/harp-geoutils/lib/coordinates/GeoBox.ts
  @here/harp-geoutils/lib/coordinates/GeoBoxExtentLike.ts
  @here/harp-geoutils/lib/math/MathUtils.ts
  @here/harp-geoutils/test/GeoBoxTest.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:HARP-6501

#1482 HARP-8308 Adding traffic line offsetting
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/ShaderChunks/LinesChunks.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-8308
