Repository heremaps/harp.gl, pull requests merged in 2020-05, with the labels that each got.

#1501 MINOR: Update mocha-webdriver-runner
  package.json
  yarn.lock
Labels: topic:minor-mocha-webdriver-update

#1504 Update express typings for rendering tests.
  @here/harp-test-utils/package.json
  package.json
  yarn.lock
Labels: topic:cleanup-ibct-typings

#1506 Publish
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_15_0

#1509 HARP-10183: Fix empty payload check in TileLoader.onloaded().
  @here/harp-mapview-decoder/lib/TileLoader.ts
  @here/harp-mapview-decoder/test/TileGeometryLoaderTest.ts
  @here/harp-mapview-decoder/test/TileLoaderTest.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
Labels: topic:HARP-10183_TileLoaderFix

#1508 HARP-10210: OmvProtobufDataAdapter emits proper polygon rings.
  @here/harp-omv-datasource/lib/OmvData.ts
Labels: topic:HARP-10210

#1493 HARP-10148: Reimplement the interpolation engine using expressions
  @here/harp-datasource-protocol/index.ts
  @here/harp-datasource-protocol/lib/ColorUtils.ts
  @here/harp-datasource-protocol/lib/Expr.ts
  @here/harp-datasource-protocol/lib/ExprEvaluator.ts
  @here/harp-datasource-protocol/lib/ExprInstantiator.ts
  @here/harp-datasource-protocol/lib/ExprPool.ts
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/Pixels.ts
  @here/harp-datasource-protocol/lib/PropertyValue.ts
  @here/harp-datasource-protocol/lib/RGBA.ts
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueAttr.ts
  @here/harp-datasource-protocol/lib/operators/InterpolationOperators.ts
  @here/harp-datasource-protocol/lib/operators/MapOperators.ts
  @here/harp-datasource-protocol/test/ExprEvaluatorTest.ts
  @here/harp-datasource-protocol/test/InterpolationTest.ts
  @here/harp-examples/src/styling_interpolation.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
Labels: topic:HARP-10148

#1520 HARP-10179: Add `iconBrightness` and `iconColor` support for POIs.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Techniques.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-materials/lib/IconMaterial.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-10179

#1527 Bump Typescript to 3.9.2.
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-controls/test/MapControlsTest.ts
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/ThemeLoaderTest.ts
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  www/package.json
  yarn.lock
Labels: topic:HARP-10422

#1518 HARP-10184: Fix tile's geo bbox computation.
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/geometry/overlayOnElevation.ts
  @here/harp-mapview/test/TileTest.ts
Labels: topic:HARP-10184_TileGeoBoxFix

#1524 HARP-8309 Add offsetting of icons based on offset_direction
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-mapview-decoder/lib/WorkerService.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-8309_offset_direction

#1533 HARP-10452: Merge the style and the technique parameters.
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/lib/Theme.ts
  @here/harp-map-theme/resources/berlin_derived.json
  @here/harp-map-theme/resources/berlin_tilezen_base.json
  @here/harp-map-theme/resources/berlin_tilezen_base_globe.json
  @here/harp-map-theme/resources/berlin_tilezen_day_reduced.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_outlines.json
  @here/harp-map-theme/resources/berlin_tilezen_effects_streets.json
  @here/harp-map-theme/resources/berlin_tilezen_night_reduced.json
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
Labels: topic:HARP-10452

#1547 HARP-10423: Update threejs to 0.116.1
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:HARP-10423

#1555 HARP-10240: More robust support for localised labels.
  @here/harp-datasource-protocol/lib/DecodedTile.ts
Labels: topic:HARP-10240

#1562 Running: yarn --update-checksums
  yarn.lock
Labels: topic:jsminor7

#1565 HARP-10605: Fix label debug info for lines
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
Labels: topic:HARP-10605

#1559 Update npm packages
  .github/workflows/ci.yaml
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-atlas-tools/src/cli-atlas-generator.ts
  @here/harp-atlas-tools/src/cli-sprites-generator.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/TextElementsRendererTest.ts
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/lib/rendering/RenderingTestResultCli.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webpack-utils/scripts/HarpWebpackConfig.ts
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  scripts/with-http-server.ts
  test/performance/package.json
  test/rendering/package.json
  tslint.json
  www/package.json
  yarn.lock
Labels: topic:update-packages

#1570 HARP-5644: Support for Political Views via FeatureModifiers stack.
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-omv-datasource/lib/OmvDecoder.ts
  @here/harp-omv-datasource/lib/OmvDecoderDefs.ts
  @here/harp-omv-datasource/lib/OmvPoliticalViewFeatureModifier.ts
Labels: topic:harp-5644-pov-feature-modifiers-stack

#1554 HARP-9926: Suppress labels flickering while panning on 2d view.
  @here/harp-mapview/lib/text/MapViewState.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/ViewState.ts
  @here/harp-mapview/test/TextElementsRendererTestFixture.ts
Labels: topic:harp-9926
