Repository heremaps/harp.gl, pull requests merged in 2020-08, with the labels that each got.

#1732 HARP-11431: Update three.js to 0.119.0
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three_0_119_0

#1744 HARP-8067: Rename OmvDataSource to VectorTileDataSource
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/lib/GeoJsonDataSource.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-omv-datasource/index.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
  @here/harp-test-utils/lib/TestDataUtils.ts
  @here/harp-test-utils/lib/TestDataUtils.web.ts
  @here/harp-vectortile-datasource/index.ts
  @here/harp-vectortile-datasource/lib/OmvDataFilter.ts
  @here/harp-vectortile-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-vectortile-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-vectortile-datasource/lib/OmvDecoderDefs.ts
  @here/harp-vectortile-datasource/lib/OmvRestClient.ts
  @here/harp-vectortile-datasource/lib/OmvTile.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
  @here/harp-vectortile-datasource/test/MapViewPickingTest.ts
  @here/harp-vectortile-datasource/test/OmvDataSourceTest.ts
  @here/harp.gl/README.md
  @here/harp.gl/api-extractor.json
  @here/harp.gl/lib/DecoderBundleMain.ts
  @here/harp.gl/lib/index.ts
  @here/harp.gl/package.json
  @here/harp.gl/tsconfig.json
  docs/GettingStartedGuide.md
  test/performance/OmvDecoderPerformanceTest.ts
  test/performance/package.json
  test/rendering/GeoJsonDataRendering.ts
  www/package.json
  www/src/decoder.ts
  www/src/index.ts
Labels: topic:HARP-8067

#1729 HARP-11228: Properly dispose MapView
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-examples/src/tile_dependencies.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/test/MapControlsTest.ts
  @here/harp-mapview-decoder/lib/DataProvider.ts
  @here/harp-mapview-decoder/lib/TestDataProviders.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/TileDataSourceTest.ts
  @here/harp-mapview-decoder/test/TileLoaderTest.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/ConcurrentDecoderFacade.ts
  @here/harp-mapview/lib/ConcurrentTilerFacade.ts
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/lib/EventDispatcher.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/test/EventDispatcherTest.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-olp-utils/lib/OlpDataProvider.ts
  @here/harp-vectortile-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-vectortile-datasource/lib/OmvRestClient.ts
  @here/harp-vectortile-datasource/test/OmvDataSourceTest.ts
Labels: topic:HARP-11228

#1745 HARP-8067: Move the data adapters to sub directories.
  .prettierignore
  @here/harp-vectortile-datasource/.gitignore
  @here/harp-vectortile-datasource/lib/DataAdapter.ts
  @here/harp-vectortile-datasource/lib/OmvDecoder.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson-vt/GeoJsonVtDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson/GeoJsonDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/OmvData.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/OmvDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/proto/vector_tile.d.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/proto/vector_tile.js
  @here/harp-vectortile-datasource/lib/adapters/omv/proto/vector_tile.proto
  @here/harp-vectortile-datasource/package.json
  test/performance/OmvDecoderPerformanceTest.ts
Labels: topic:HARP-8067

#1748 HARP-8067: Rename OmvTilerService to GeoJsonTilerService.
  @here/harp-datasource-protocol/lib/WorkerTilerProtocol.ts
  @here/harp-geojson-datasource/lib/GeoJsonTileDecoderService.ts
  @here/harp-mapview-decoder/lib/TilerService.ts
  @here/harp-mapview-decoder/lib/WorkerService.ts
  @here/harp-omv-datasource/index-worker.ts
  @here/harp-vectortile-datasource/index-worker.ts
  @here/harp-vectortile-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-vectortile-datasource/lib/GeoJsonTilerService.ts
  @here/harp-vectortile-datasource/lib/OmvDecoderDefs.ts
  @here/harp-vectortile-datasource/lib/OmvTiler.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  @here/harp.gl/lib/DecoderBundleMain.ts
Labels: topic:HARP-8067

#1759 MAPSJS-2709 Can toggle tile wrapping enabled
  @here/harp-mapview/lib/MapView.ts
Labels: topic:MAPSJS-2709

#1757 HARP-11228: Call WebGlRenderer.forceLooseCont
  @here/harp-mapview/lib/MapView.ts
  @here/harp-test-utils/lib/WebGLStub.ts
Labels: topic:HARP-11228-2

#1765 yarn upgrade
  .gitignore
  @here/generator-harp.gl/generators/app/index.js
  @here/generator-harp.gl/generators/app/templates/javascript/resources/README.md
  @here/generator-harp.gl/generators/app/templates/javascript/webpack.config.js
  @here/generator-harp.gl/generators/app/templates/typescript/resources/README.md
  @here/generator-harp.gl/generators/app/templates/typescript/webpack.config.js
  @here/harp-examples/package.json
  @here/harp-examples/webpack.config.js
  @here/harp-webpack-utils/package.json
  @here/harp-webpack-utils/scripts/HarpWebpackConfig.ts
  test/performance/package.json
  webpack.tests.config.js
  www/package.json
  www/webpack.config.js
  yarn.lock
Labels: topic:minor-yarn-upgrade

#1780 MINOR: Added marker example with custom icon
  @here/harp-examples/src/datasource_geojson_points.ts
Labels: topic:geojson-point-example

#1785 Merge back release 0.19.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_19_0

#1787 enable eslint `prefer-includes` check.
  .eslintrc.json
  @here/harp-datasource-protocol/lib/WorkerServiceProtocol.ts
  @here/harp-datasource-protocol/lib/operators/StringOperators.ts
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/EventDispatcher.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/image/ImageCache.ts
  @here/harp-mapview/lib/image/MapViewImageCache.ts
  @here/harp-mapview/test/TextElementsRendererTestFixture.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-test-utils/lib/TestDataUtils.ts
  @here/harp-text-canvas/lib/rendering/FontCatalog.ts
  @here/harp-vectortile-datasource/lib/OmvDataFilter.ts
  @here/harp-vectortile-datasource/lib/OmvDebugLabelsTile.ts
  @here/harp-vectortile-datasource/lib/OmvDecoderDefs.ts
  @here/harp-vectortile-datasource/lib/OmvRestClient.ts
  @here/harp-vectortile-datasource/lib/OmvTomTomFeatureModifier.ts
  @here/harp-vectortile-datasource/test/OmvTest.ts
Labels: topic:eslint-fixes

#1794 HARP-11487: Ensure DataProvider's connect and disposed are called once.
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-examples/src/tile_dependencies.ts
  @here/harp-mapview-decoder/lib/DataProvider.ts
  @here/harp-mapview-decoder/lib/TestDataProviders.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/DataProviderTest.ts
  @here/harp-mapview-decoder/test/TileDataSourceTest.ts
  @here/harp-mapview-decoder/test/TileLoaderTest.ts
  @here/harp-olp-utils/lib/OlpDataProvider.ts
  @here/harp-vectortile-datasource/lib/GeoJsonDataProvider.ts
  @here/harp-vectortile-datasource/lib/OmvRestClient.ts
  @here/harp-vectortile-datasource/test/OmvDataSourceTest.ts
Labels: topic:HARP-11487_FixDataProvider

#1801 HARP-11741: Update three to 0.120.0
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three_120

#1809 HARP-11741: Update three to 0.120.1
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three_120_1
