Repository heremaps/harp.gl, pull requests merged in 2020-10, with the labels that each got.

#1876 HARP-11672: Make TileGeometryLoader protected.
  @here/harp-mapview-decoder/test/TileGeometryLoaderTest.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/test/TileTest.ts
Labels: topic:HARP-11672_HideTileLoader

#1894 HARP-12466: Fix initialization of the webpack's stats.
  @here/harp-examples/webpack.config.js
  @here/harp-webpack-utils/scripts/HarpWebpackConfig.ts
  docs/GettingStartedAngular.md
  webpack.tests.config.js
Labels: topic:HARP-12466

#1890 HARP-12269: Add support to wrap polygon crossing the +/-180 meridian.
  @here/harp-geometry/lib/ClipPolygon.ts
  @here/harp-geometry/lib/WrapPolygon.ts
  @here/harp-utils/lib/Math2D.ts
  @here/harp-utils/test/Math2DTest.ts
  test/rendering/GeoJsonDataRendering.ts
  test/resources/polygon_crossing_antimeridian.json
Labels: topic:HARP-12269

#1891 HARP-11672: Support web tile request cancellation
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/lib/TileLoader.ts
  @here/harp-mapview-decoder/test/TileGeometryLoaderTest.ts
  @here/harp-mapview-decoder/test/TileLoaderTest.ts
  @here/harp-mapview/index.ts
  @here/harp-mapview/lib/BaseTileLoader.ts
  @here/harp-mapview/lib/ITileLoader.ts
  @here/harp-mapview/lib/TextureLoader.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/copyrights/CopyrightCoverageProvider.ts
  @here/harp-mapview/lib/copyrights/UrlCopyrightProvider.ts
  @here/harp-mapview/test/FakeOmvDataSource.ts
  @here/harp-mapview/test/TileTest.ts
  @here/harp-olp-utils/lib/OlpCopyrightProvider.ts
  @here/harp-webtile-datasource/lib/HereWebTileDataSource.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/lib/WebTileLoader.ts
  @here/harp-webtile-datasource/test/WebTileLoaderTest.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
Labels: topic:HARP-11672_WebTileDataProviderAbortSignal

#1905 HARP-12247 Handle geometry without index buffer / feature starts
  @here/harp-mapview/lib/MapView.ts
  test/rendering/GeoJsonDataRendering.ts
  test/resources/basic_polygon.json
Labels: topic:HARP-12247

#1904 HARP-11672 Satellite on terrain
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-webtile-datasource/lib/HereWebTileDataSource.ts
Labels: topic:HARP-11672_TexturedTerrain

#1910 HARP-11672: Pass client parameter to ITileLoader's loadAndDecode() an…
  @here/harp-mapview/lib/ITileLoader.ts
Labels: topic:HARP-11672_FixTerrainCancel

#1919 HARP-12192: Request Map view update if camera settings are not final.
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:HARP-12192_FixOverlayIBCT
