Repository heremaps/harp.gl, pull requests merged in 2020-01, with the labels that each got.

#1191 HARP-8376: Fix exception when zooming with terrain enabled
  @here/harp-mapview/lib/Utils.ts
Labels: topic:HARP-8376

#1179 Fix z-fighting of animated buildings with 0 height.
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-materials/index.ts
  @here/harp-materials/lib/EdgeMaterial.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/MapMeshMaterialsDefs.ts
  @here/harp-materials/lib/ShaderChunks/ExtrusionChunks.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/package.json
Labels: topic:HARP-8279

#1190 HARP-8333: Update Three.js to 0.112
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  docs/index.html
  package.json
  test/performance/package.json
  test/rendering/GeoJsonDataRendering.ts
  test/rendering/package.json
  yarn.lock
Labels: topic:HARP-8333

#1194 HARP-8389: Fix invalid bin entry warning with latest yarn
  @here/create-harp.gl-app/README.md
  @here/create-harp.gl-app/package.json
  README.md
  docs/GettingStartedGuide.md
  scripts/test-npm-packages.sh
Labels: topic:HARP-8389

#1180 HARP-7238 Implement mixed LOD will all children/no children policy
  @here/harp-debug-datasource/lib/DebugTileDataSource.ts
  @here/harp-examples/src/datasource_features_lines-and-points.ts
  @here/harp-examples/src/datasource_features_polygons.ts
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/test/FakeOmvDataSource.ts
  @here/harp-mapview/test/PolarTileDataSourceTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-omv-datasource/lib/OmvDataSource.ts
Labels: topic:HARP-7238

#1184 HARP-6251: Clip the polygons.
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/clipPolygon.ts
  @here/harp-omv-datasource/test/OmvClippedPolygonsTest.ts
Labels: topic:HARP-6251

#1155 HARP-8180 Reintroduce plane upper limit for spherical projection
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
Labels: topic:HARP-8180

#1218 Invoke custom url resolver before resolving relative urls
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/test/ThemeLoaderTest.ts
Labels: topic:HARP-8282

#1219 HARP-8442 Enable mixed lod for all examples with globe support.
  @here/harp-examples/src/getting-started_globe-projection.ts
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:HARP-8442

#1204 HARP-7831 Webapp optimization
  .travis.yml
  docs/js/index.js
  docs/resources/background.png
  package.json
  scripts/doc-snippets.ts
  scripts/prepare_doc_deploy.ts
  typedoc.json
  www/.gitignore
  www/README.md
  www/_config.yml
  www/css/index.css
  www/docs/index.html
  www/examples/index.html
  www/index.html
  www/package.json
  www/resources/background.jpg
  www/resources/favicon.ico
  www/resources/theme.json
  www/src/decoder.ts
  www/src/index.ts
  www/tsconfig.json
  www/webpack.config.js
  yarn.lock
Labels: topic:HARP-7831

#1246 HARP-8361: Fix unnecessary materials & uniforms updates in MapMeshMaterials
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/Utils.ts
Labels: topic:harp-8361-mapmesh-ver2

#1258 HARP-8344 Fixed CirclePointsMaterial and added tests.
  @here/harp-materials/lib/CirclePointsMaterial.ts
  @here/harp-materials/test/CirclePointsMaterialTest.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-8344

#1139 HARP-7907: Limit number of raycasts used for Camera tilt calculus.
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/text/MapViewState.ts
Labels: topic:harp-7907
