Repository heremaps/harp.gl, pull requests merged in 2020-07, with the labels that each got.

#1655 HARP-11015 Upgrade to three@0.118
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-examples/src/textcanvas.ts
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-omv-datasource/test/MapViewPickingTest.ts
  @here/harp-test-utils/lib/rendering/RenderingTestHelper.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-text-canvas/test/rendering/TextCanvasRenderingTest.ts
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:HARP-11015

#1646 HARP-10979: Discard the point geometries outside the tile bounds.
  @here/harp-omv-datasource/lib/DecodeInfo.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-10979

#1656 HARP-11037: Fix cracks at the tile boundaries.
  @here/harp-omv-datasource/lib/OmvUtils.ts
Labels: topic:HARP-11037

#1658 Specialize the clipping algorithm for the vector-tile use case.
  @here/harp-geometry/lib/ClipPolygon.ts
  @here/harp-geometry/package.json
  @here/harp-geometry/test/ClipPolygonTest.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:clip-against-simple-bounds

#1661 HARP-10717: Restrict view to given geo bounds for mercator.
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:HARP-10717_PanWithinBounds

#1667 HARP-10876: Add a test that renders extruded polygons without batching.
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-10876

#1671 HARP-10876: Fix usage of dynamic color expressions in extruded buildings
  @here/harp-datasource-protocol/lib/StyleSetEvaluator.ts
  @here/harp-datasource-protocol/lib/TechniqueDescriptor.ts
Labels: topic:HARP-10876

#1677 HARP-11196 Expand getScreenPosition...
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/test/MapViewTest.ts
Labels: apichange

#1466 HARP-9982 Disable line clipping by default
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  test/rendering/StylingTest.ts
Labels: topic:minor-disable-clipping

#1704 HARP-11212: Fix undefined behavior when computing the edge color.
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/EdgeMaterial.ts
Labels: topic:HARP-11212

#1713 HARP-10881: Added image regression test to reproduce the issue
  test/rendering/StylingTest.ts
Labels: topic:HARP-10881

#1721 HARP-10881: Support partial disabling of building edges
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-10881

#1725 Merge back release v0.18.0
  .travis.yml
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_18_0
