Repository heremaps/harp.gl, pull requests merged in 2020-02, with the labels that each got.

#1240 HARP-8263: Labeling technical docs
  @here/harp-mapview/lib/ScreenCollisions.ts
  @here/harp-text-canvas/lib/rendering/TextMaterials.ts
  @here/harp-text-canvas/lib/typesetting/LineTypesetter.ts
  @here/harp-text-canvas/lib/typesetting/PathTypesetter.ts
  docs/@docs/README.md
  docs/@docs/label-rendering/README.md
  docs/@docs/label-rendering/component_diagram.mmd
  docs/@docs/label-rendering/frame_sequence_diagram.mmd
  docs/@docs/label-rendering/text_renderer_class_diagram.mmd
  package.json
  puppeteer-config.json
  scripts/doc-snippets.ts
  scripts/setup-docs.ts
  typedoc.json
  yarn.lock
Labels: topic:HARP-8263_FirstMermaidDiagram

#1261 Update OLP SDK
  @here/harp-olp-utils/lib/OlpCopyrightProvider.ts
  @here/harp-olp-utils/lib/OlpDataProvider.ts
  @here/harp-olp-utils/package.json
  yarn.lock
Labels: topic:olp-sdk-update

#1260 HARP-8737: Use projection to compute surface normal
  @here/harp-examples/decoder/custom_decoder.ts
  @here/harp-geojson-datasource/lib/GeoJsonGeometryCreator.ts
  @here/harp-lines/lib/Lines.ts
  @here/harp-lines/package.json
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  test/performance/LinesPerformanceTest.ts
Labels: topic:line-surface-normal

#1292 MINOR: Fix phased loading default value interpretation.
  @here/harp-mapview/lib/MapView.ts
Labels: topic:minor-fix-features-controls

#1282 Use Env for dynamic expressions.
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/TechniqueAttr.ts
  @here/harp-datasource-protocol/lib/operators/InterpolationOperators.ts
  @here/harp-datasource-protocol/test/ExprEvaluatorTest.ts
  @here/harp-datasource-protocol/test/InterpolationTest.ts
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-geojson-datasource/test/GeoJsonTest.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/PolarTileDataSource.ts
  @here/harp-mapview/lib/RoadPicker.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/poi/PoiManager.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/lib/text/MapViewState.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/TextStyleCache.ts
  @here/harp-mapview/lib/text/ViewState.ts
  @here/harp-mapview/test/DecodedTileHelpersTest.ts
  @here/harp-mapview/test/TextElementsRendererTestFixture.ts
  @here/harp-mapview/test/TileCreationTest.ts
  @here/harp-mapview/test/stubPoiRenderer.ts
  @here/harp-omv-datasource/lib/OmvDebugLabelsTile.ts
Labels: topic:HARP-8515-env

#1259 HARP-7104: Theme build tool
  @here/harp-mapview/lib/ThemeLoader.ts
  @here/harp-mapview/test/ThemeLoaderTest.ts
  @here/harp-theme-tools/.gitignore
  @here/harp-theme-tools/.npmignore
  @here/harp-theme-tools/LICENSE
  @here/harp-theme-tools/README.md
  @here/harp-theme-tools/package.json
  @here/harp-theme-tools/src/cli-build-theme.ts
  @here/harp-theme-tools/tsconfig.json
  yarn.lock
Labels: topic:theme-builder

#1293 HARP-8717: Support mutable user text elements.
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/test/PoiInfoBuilder.ts
  @here/harp-mapview/test/TextElementBuilder.ts
  @here/harp-mapview/test/TextElementsRendererTest.ts
  @here/harp-mapview/test/TextElementsRendererTestFixture.ts
  @here/harp-mapview/test/TextElementsRendererTestUtils.ts
Labels: topic:HARP-8717_MutableTextElements

#1300 HARP-8922: Ensure the polygons are closed before clipping the geometries
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/lib/clipPolygon.ts
Labels: topic:HARP-8922

#1314 Release 0.13.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release

#1323 MINOR: Fix commands in docs for creating harp.gl project
  @here/create-harp.gl-app/README.md
  README.md
Labels: topic:fixcom

#1317 HARP-9111: Update three.js to 0.113.2
  @here/harp-datasource-protocol/lib/InterpolatedProperty.ts
  @here/harp-datasource-protocol/lib/operators/ColorOperators.ts
  @here/harp-datasource-protocol/lib/operators/MathOperators.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/decoder/custom_decoder.ts
  @here/harp-examples/package.json
  @here/harp-examples/src/getting-started_free-camera.ts
  @here/harp-features-datasource/lib/Features.ts
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geometry/test/SphericalGeometrySubdivisionModifierTest.ts
  @here/harp-geoutils/lib/coordinates/GeoBox.ts
  @here/harp-geoutils/lib/coordinates/GeoCoordinates.ts
  @here/harp-geoutils/lib/math/MathUtils.ts
  @here/harp-geoutils/lib/projection/EquirectangularProjection.ts
  @here/harp-geoutils/lib/projection/IdentityProjection.ts
  @here/harp-geoutils/lib/projection/SphereProjection.ts
  @here/harp-geoutils/package.json
  @here/harp-geoutils/test/OrientedBox3Test.ts
  @here/harp-lines/package.json
  @here/harp-map-controls/lib/MapAnimations.ts
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/lib/ConcurrentWorkerSet.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/text/RenderState.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-materials/package.json
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three113

#1255 HARP-8622 Added ibct tests for diagonal and dashed lines
  test/rendering/StylingTest.ts
Labels: topic:HARP-8622

#1202 HARP-7856 Remove background tile when a covering tile is loaded.
  @here/harp-geojson-datasource/lib/GeoJsonTile.ts
  @here/harp-mapview/lib/BackgroundDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/test/TileTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:HARP-7856
