Repository heremaps/harp.gl, pull requests merged in 2020-09, with the labels that each got.

#1819 MINOR: Adds DataSourceOptions to WebTileDataSource
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/test/HereWebTileDataSourceTest.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
  test/rendering/WebTileDataRendering.ts
Labels: topic:webtile

#1816 HARP-11817: Fixes Labels not clipped by farplane
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/TextElementsRendererTest.ts
Labels: topic:minor-projectonscreen

#1821 MINOR: Adds renderOrder support to WebTileDataSource
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
  test/rendering/WebTileDataRendering.ts
Labels: topic:webtile

#1811 HARP-11811: Added offset x/y for tilt and heading gestures
  @here/harp-map-controls/lib/MapControls.ts
  @here/harp-map-controls/lib/MapControlsUI.ts
  @here/harp-map-controls/test/MapControlsTest.ts
  @here/harp-mapview/lib/Utils.ts
  @here/harp-mapview/test/UtilsTest.ts
Labels: topic:minor-tilt-heading-offset

#1836 HARP-11340: Ignore collision margin when computing text offset
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/test/PlacementTest.ts
Labels: topic:HARP-11340

#1834 HARP-9413 Fixes #1384 far plane too close in globe
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/test/ClipPlanesEvaluatorTest.ts
Labels: HARP-9413, topic:HARP-9413

#1847 Revert "HARP-9413 Fixes #1384 far plane too close in globe (#1834)"
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/test/ClipPlanesEvaluatorTest.ts
Labels: topic:HARP-9413_revert

#1849 Harp 9413 Fixed issue with incorrect far plane
  @here/harp-mapview/lib/ClipPlanesEvaluator.ts
  @here/harp-mapview/test/ClipPlanesEvaluatorTest.ts
Labels: topic:HARP-9413_fixed

#1832 HARP-11671 Orbit example, add stats
  @here/harp-examples/src/getting-started_orbiting-view.ts
  @here/harp-examples/src/textcanvas.ts
  package.json
  yarn.lock
Labels: topic:HARP-11671

#1851 Handles lineWidth as Expression for ExtrudedPolygonTechnique
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/EdgeMaterial.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:lineWidth

#1855 MINOR: Updates node-fetch due to security warning
  @here/harp-fetch/package.json
  package.json
  www/package.json
  yarn.lock
Labels: topic:node-fetch-update

#1803 HARP-11699: Adding minimum geometry height to tiles
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-examples/decoder/custom_decoder.ts
  @here/harp-examples/src/datasource_custom.ts
  @here/harp-features-datasource/lib/FeaturesDataSource.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/DepthPrePass.ts
  @here/harp-mapview/lib/ElevationProvider.ts
  @here/harp-mapview/lib/ElevationRangeSource.ts
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/test/DataSourceTest.ts
  @here/harp-mapview/test/TileTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-11699

#1862 Release 0.20.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_20_0

#1863 HARP-9962: Change the zoom level reference used by `world-discrete-ppi-scale`
  @here/harp-datasource-protocol/lib/operators/MapOperators.ts
Labels: topic:fix-discrete-ppi-scale

#1867 HARP-12145: Fix gaps along the antimeridian.
  @here/harp-vectortile-datasource/lib/OmvDecoderDefs.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataSource.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  @here/harp-vectortile-datasource/lib/adapters/omv/OmvDataAdapter.ts
Labels: topic:HARP-12145

#1865 HARP-11679: Hide replacement glyphs in production
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRendererOptions.ts
  @here/harp-mapview/test/stubFontCatalogLoader.ts
  @here/harp-text-canvas/lib/rendering/FontCatalog.ts
  @here/harp-text-canvas/lib/rendering/GlyphData.ts
  @here/harp-text-canvas/test/FontCatalogTest.ts
  @here/harp-text-canvas/test/rendering/TextCanvasRenderingTest.ts
Labels: topic:HARP-11679
