Repository heremaps/harp.gl, pull requests merged in 2020-06, with the labels that each got.

#1580 HARP-10671: Update to three.js 0.117.1
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:three_0_117

#1577 (HARP-10414): Delays new labels until map movement finishes
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/lib/text/TextElementsRendererOptions.ts
Labels: topic:no-labels-during-interaction

#1583 RELEASE: Merge back release 0.16.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_16

#1592 HARP-10603: Fix outline rendering
  @here/harp-examples/src/rendering_post-effects_themes.ts
  @here/harp-mapview/lib/composing/Outline.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-materials/lib/EdgeMaterial.ts
Labels: topic:HARP-10603

#1599 HARP-10450 Remove inner walls by default
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-10450

#1607 HARP-10717: Add zoomEnabled and panEnabled to MapControls.
  @here/harp-map-controls/lib/MapControls.ts
Labels: topic:HARP-10717_MapControls

#1618 HARP-10793: Add overlay property to MapAnchor
  @here/harp-examples/src/threejs_animation.ts
  @here/harp-mapview/lib/MapAnchors.ts
  @here/harp-mapview/lib/MapView.ts
Labels: topic:map-anchor-overlay

#1619 HARP-8674: Export authentication types for reuse
  @here/harp-utils/index-common.ts
  @here/harp-utils/lib/AuthenticationUtils.ts
  @here/harp-webtile-datasource/lib/WebTileDataSource.ts
Labels: topic:HARP-8674

#1600 HARP-10446: Simplify extruded building animation.
  @here/harp-mapview/lib/AnimatedExtrusionHandler.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/AnimatedExtrusionHandlerTest.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-10446_fixExtBuildAnimation

#1623 HARP-10888: Don't clear the depth buffer when rendering TextElements
  @here/harp-text-canvas/lib/TextCanvas.ts
Labels: topic:minor-dont-clear-depth

#1626 HARP-10866: Add a test for MultiLineString features.
  test/rendering/GeoJsonDataRendering.ts
  test/resources/MatchedLinksShape.json
Labels: topic:HARP-10866

#1605 HARP-10769: Fix frame complete event
  @here/harp-mapview-decoder/lib/TileLoader.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/text/RenderState.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/FakeOmvDataSource.ts
  @here/harp-mapview/test/MapViewTest.ts
  @here/harp-mapview/test/RenderStateTest.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  test/rendering/StylingTest.ts
Labels: topic:HARP-10769-frame-complete

#1628 HARP-10866: Fix decoding of GeoJSON MultiLineString features.
  @here/harp-omv-datasource/lib/VTJsonDataAdapter.ts
Labels: topic:HARP-10866

#1630 HARP-10648: Add a test for polygons touching the tile border.
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-10648

#1633 Merge back release 0.17.0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release_0_17_0

#1604 HARP-6703 Adding docs for fallback logic
  docs/@docs/fallback/README.md
  docs/@docs/fallback/fallbackfinalviz.svg
  docs/@docs/fallback/fallbackviz.svg
  docs/@docs/fallback/fallbackzoomin.gif
  docs/@docs/fallback/fallbackzoominslow.gif
  docs/@docs/fallback/fallbackzoomout.gif
  docs/@docs/fallback/fallbackzoomoutslow.gif
  docs/@docs/fallback/module.ts
  docs/@docs/fallback/overlappingtiles.png
  docs/@docs/fallback/visibletileset_computation.mmd
Labels: topic:HARP-6703

#1629 HARP-10466: Traffic icons fade to white not transp
  @here/harp-mapview/lib/poi/BoxBuffer.ts
  @here/harp-materials/lib/IconMaterial.ts
Labels: topic:HARP-10466

#1631 HARP-10925: Clear tile cache when setting new theme
  @here/harp-mapview-decoder/lib/TileDataSource.ts
Labels: topic:HARP-10925-clear-tile-cache

#1215 HARP-8201: Avoid glitches when rendering transparent lines
  @here/harp-lines/test/rendering/RenderLines.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
Labels: topic:HARP-8201

#1644 HARP-10847: Upgrade to harp-fontcatalog 0.1.6
  @here/harp-map-theme/package.json
  @here/harp-text-canvas/test/FontCatalogTest.ts
  yarn.lock
Labels: topic:minor-update-fontcatalog

#1642 HARP-10648: Add a buffer of about 5% around the clipped tile.
  @here/harp-mapview-decoder/lib/GeoJsonTiler.ts
  @here/harp-omv-datasource/lib/OmvDecodedTileEmitter.ts
Labels: topic:HARP-10648-buffer

#1615 Tile Processing Queue
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-mapview-decoder/lib/TileDataSource.ts
  @here/harp-mapview-decoder/test/TileGeometryLoaderTest.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewTaskScheduler.ts
  @here/harp-mapview/lib/Tile.ts
  @here/harp-mapview/lib/VisibleTileSet.ts
  @here/harp-mapview/lib/geometry/TileGeometryLoader.ts
  @here/harp-mapview/lib/geometry/TileGeometryManager.ts
  @here/harp-mapview/test/FakeOmvDataSource.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
  @here/harp-utils/index-common.ts
  @here/harp-utils/lib/TaskQueue.ts
  @here/harp-utils/test/TaskQueueTest.ts
Labels: topic:tile-queue
