Repository heremaps/harp.gl, pull requests merged in 2021-01, with the labels that each got.

#2023 MINOR: Update ini to avoid security issue
  @here/create-harp.gl-app/package.json
  yarn.lock
Labels: topic:update-ini

#2027 HARP-13604 Upgrade three.js to r124
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-map-controls/package.json
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/composing/MSAARenderPass.ts
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/lib/WebGLStub.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
  yarn.lock
Labels: topic:HARP-13604

#2025 MINOR: Remove unneeded dependency
  package.json
  yarn.lock
Labels: topic:jsminor2115

#2018 HARP-13329: Fix antimeridian cracks on ground planes.
  @here/harp-geometry/lib/SubdivisionModifier.ts
  @here/harp-mapview/lib/BackgroundDataSource.ts
  @here/harp-mapview/lib/BoundsGenerator.ts
  @here/harp-mapview/lib/geometry/AddGroundPlane.ts
  @here/harp-mapview/lib/geometry/ProjectTilePlaneCorners.ts
  @here/harp-mapview/lib/geometry/RegisterTileObject.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/AddGroundPlaneTest.ts
  @here/harp-mapview/test/BoundsGeneratorTest.ts
  @here/harp-mapview/test/ProjectTilePlaneCornersTest.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
  @here/harp-webtile-datasource/lib/WebTileLoader.ts
  @here/harp-webtile-datasource/test/WebTileTest.ts
  test/rendering/WebTileDataRendering.ts
  test/resources/sea.png
Labels: topic:HARP-13329_FixAntiMerCracksPlanar

#2030 TextElements frozen on theme change
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  test/rendering/ScreenSpaceRenderingTests.ts
  test/rendering/utils/GeoJsonTest.ts
Labels: topic:textelementsfrozen

#2026 Update typescript to 4.1.2
  @here/harp-atlas-tools/package.json
  @here/harp-atlas-tools/src/ImageVectorCoders.ts
  @here/harp-datasource-protocol/package.json
  @here/harp-datasource-protocol/test/StyleSetEvaluatorTest.ts
  @here/harp-debug-datasource/package.json
  @here/harp-examples/lib/PerformanceUtils.ts
  @here/harp-examples/package.json
  @here/harp-examples/src/performance_benchmark.ts
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/lib/DecodedTileHelpers.ts
  @here/harp-mapview/lib/MapMaterialAdapter.ts
  @here/harp-mapview/lib/MapViewFog.ts
  @here/harp-mapview/lib/copyrights/CopyrightCoverageProvider.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/lib/geometry/overlayOnElevation.ts
  @here/harp-mapview/lib/image/Image.ts
  @here/harp-mapview/lib/poi/PoiRenderer.ts
  @here/harp-mapview/package.json
  @here/harp-mapview/test/WorkerLoaderTest.ts
  @here/harp-materials/lib/CirclePointsMaterial.ts
  @here/harp-materials/lib/DisplacementFeature.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-materials/lib/RawShaderMaterial.ts
  @here/harp-materials/lib/SolidLineMaterial.ts
  @here/harp-materials/package.json
  @here/harp-materials/test/CirclePointsMaterialTest.ts
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/lib/ProfileHelper.ts
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-text-canvas/test/FontCatalogTest.ts
  @here/harp-text-canvas/test/TextCanvasTest.ts
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-transfer-manager/src/DeferredPromise.ts
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  package.json
  test/ImportTest.ts
  www/package.json
  yarn.lock
Labels: topic:HARP-13368

#2039 Update pack dependencies
  @here/harp-atlas-tools/package.json
  @here/harp-examples/package.json
  @here/harp-examples/webpack.config.js
  @here/harp-map-theme/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webpack-utils/scripts/HarpWebpackConfig.ts
  @here/harp.gl/package.json
  @here/harp.gl/webpack.config.js
  package.json
  www/package.json
  www/webpack.config.js
  yarn.lock
Labels: topic:update-pack-deps

#2035 Update Tween dependency
  @here/harp-map-controls/lib/MapAnimations.ts
  @here/harp-map-controls/package.json
  yarn.lock
Labels: topic:update-tween

#2040 HARP-11894 Fixing partially missing tiles
  @here/harp-mapview/lib/FrustumIntersection.ts
  @here/harp-mapview/test/VisibleTileSetTest.ts
Labels: topic:HARP-11894

#2033 Update ESLint packages
  .eslintrc.json
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-examples/src/textcanvas.ts
  @here/harp-mapview/test/EventDispatcherTest.ts
  @here/harp-mapview/test/UtilsTest.ts
  @here/harp-materials/lib/MapMeshMaterials.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  package.json
  yarn.lock
Labels: topic:update-eslint-packages

#2037 Update test utils dependencies
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webtile-datasource/package.json
  package.json
  test/performance/package.json
  test/rendering/package.json
  yarn.lock
Labels: topic:update-test-deps

#2036 Update OLP SDK dependencies
  @here/harp-olp-utils/package.json
  yarn.lock
Labels: topic:update-olp-sdk

#2060 HARP-13785: Fix multiple label fading issues.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-mapview/lib/poi/PoiBuilder.ts
  @here/harp-mapview/lib/text/Placement.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-mapview/lib/text/TextElementBuilder.ts
  @here/harp-mapview/lib/text/TextElementState.ts
  @here/harp-mapview/lib/text/TextElementsRenderer.ts
  @here/harp-mapview/test/PlacementTest.ts
  @here/harp-mapview/test/PoiBuilderTest.ts
  @here/harp-mapview/test/TextElementStateTest.ts
Labels: topic:HARP-13875_FixCityCenterIcon

#2063 HARP-13812: Tune the default value of extruded-polygon's constantHeight.
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
Labels: topic:HARP-13812

#2065 HARP-11233: Store the clipping states in the ring vertices
  @here/harp-geometry/lib/ClipPolygon.ts
  @here/harp-geometry/test/ClipPolygonTest.ts
  @here/harp-vectortile-datasource/lib/Ring.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
  @here/harp-vectortile-datasource/test/OmvDecodedTileEmitterTest.ts
Labels: topic:HARP-11233-clipPolygon

#2084 Release 0 22 0
  @here/create-harp.gl-app/package.json
  @here/generator-harp.gl/package.json
  @here/harp-atlas-tools/package.json
  @here/harp-datasource-protocol/package.json
  @here/harp-debug-datasource/package.json
  @here/harp-examples/package.json
  @here/harp-features-datasource/package.json
  @here/harp-fetch/package.json
  @here/harp-geojson-datasource/package.json
  @here/harp-geometry/package.json
  @here/harp-geoutils/package.json
  @here/harp-lines/package.json
  @here/harp-lrucache/package.json
  @here/harp-map-controls/package.json
  @here/harp-map-theme/package.json
  @here/harp-mapview-decoder/package.json
  @here/harp-mapview/package.json
  @here/harp-materials/package.json
  @here/harp-olp-utils/package.json
  @here/harp-omv-datasource/package.json
  @here/harp-test-utils/package.json
  @here/harp-text-canvas/package.json
  @here/harp-theme-tools/package.json
  @here/harp-transfer-manager/package.json
  @here/harp-utils/package.json
  @here/harp-vectortile-datasource/package.json
  @here/harp-webpack-utils/package.json
  @here/harp-webtile-datasource/package.json
  @here/harp.gl/package.json
  lerna.json
  test/performance/package.json
  test/rendering/package.json
  www/package.json
Labels: topic:release-0.22.0

#2055 HARP-13235: Fix altitude in mercator
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-datasource-protocol/lib/TechniqueDescriptors.ts
  @here/harp-datasource-protocol/lib/TechniqueParams.ts
  @here/harp-examples/src/datasource_geojson_elevated-markers.ts
  @here/harp-vectortile-datasource/lib/OmvUtils.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
  @here/harp-vectortile-datasource/test/OmvDecodedTileEmitterTest.ts
  test/rendering/GeoJsonDataRendering.ts
Labels: topic:HARP-13235_FixMercatorAltitude
