Repository heremaps/harp.gl, pull requests merged in 2021-02, with the labels that each got.

#2075 HARP-13901: Fix THREE.Line and THREE.LineSegments picking.
  @here/harp-mapview/lib/MapObjectAdapter.ts
  @here/harp-mapview/lib/MapView.ts
  @here/harp-mapview/lib/MapViewPoints.ts
  @here/harp-mapview/lib/PickHandler.ts
  @here/harp-mapview/lib/PickingRaycaster.ts
  @here/harp-mapview/lib/geometry/TileGeometryCreator.ts
  @here/harp-mapview/test/AddGroundPlaneTest.ts
  @here/harp-mapview/test/PickingRaycasterTest.ts
  @here/harp-mapview/test/TileGeometryCreatorTest.ts
  @here/harp-vectortile-datasource/test/MapViewPickingTest.ts
  @here/harp-vectortile-datasource/test/resources/geoJsonData.ts
Labels: topic:HARP-13901_FixLinePicking

#2104 HARP-11013: Support GeoJson feature ids
  @here/harp-datasource-protocol/lib/DecodedTile.ts
  @here/harp-mapview-decoder/lib/GeoJsonTiler.ts
  @here/harp-mapview-decoder/test/GeoJsonTilerTest.ts
  @here/harp-mapview/lib/DataSource.ts
  @here/harp-mapview/lib/PickHandler.ts
  @here/harp-mapview/lib/geometry/TileDataAccessor.ts
  @here/harp-mapview/lib/poi/PoiBuilder.ts
  @here/harp-mapview/lib/text/TextElement.ts
  @here/harp-vectortile-datasource/lib/VectorTileDataEmitter.ts
  @here/harp-vectortile-datasource/lib/VectorTileDecoder.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson-vt/GeoJsonVtDataAdapter.ts
  @here/harp-vectortile-datasource/lib/adapters/geojson/GeoJsonDataAdapter.ts
  @here/harp-vectortile-datasource/test/FakeOmvFeatureFilter.ts
  @here/harp-vectortile-datasource/test/GeoJsonDataAdapterTest.ts
  @here/harp-vectortile-datasource/test/GeoJsonVtDataAdapterTest.ts
  @here/harp-vectortile-datasource/test/MockGeometryProcessor.ts
  @here/harp-vectortile-datasource/test/OmvDecodedTileEmitterTest.ts
Labels: topic:HARP-11013_GeojsonFeatId

#2117 HARP-13243: Add IBCT test for enclosed stroked polygon features.
  test/rendering/GeoJsonFeaturesRendering.ts
Labels: topic:HARP-13243
